[2016-05-04 05:11] benoror opened #1 "Testem global not found"
Hey @kategengler, I'm glad you finally released this addon 🎉, and also glad to be the first to fill an issue 😄

When I run the tests I get the following error:

[code]

I think it's due to global variable `Testem` not being loaded: https://github.com/kategengler/ember-cli-code-coverage/commit/65821e5f5b26c5a3b613cf62fad35436810417ec#diff-94eab975fb48e219fc130d82e21457acR32

Maybe related to my bui

[2016-05-04 12:24] kategengler commented on #1
Hi! You need a newer Testem (>= 1.6.0) which comes with a newer ember-cli (2.4.3+ I believe).

[2016-05-04 18:40] sfbwalder commented on #1
@kategengler

We look forward to using istanbul also!  Server side instrumentation is a good idea.

I get the same error Chrome:  ```Uncaught ReferenceError: Testem is not defined```

This line in index.html is failing:  ```Testem.afterTests(function(config, data, callback) {```

I created a new app with ember-cli 2.5 and then installed ember-cli-code-coverage:
* apps package.json:
[code]
* apps /

[2016-05-04 19:02] kategengler commented on #1
By any chance are you running the suite at `/tests` rather than through
`ember test -s`?

`/tests` doesn't work yet since I'm relying on that Testem hook, but I hope
to have a fix for that today, at least for QUnit users.

On Wed, May 4, 2016 at 2:40 PM, sfbwalder <notifications@github.com> wrote:

[2016-05-04 19:08] sfbwalder commented on #1
Yes, using /tests.  Using QUnit also.  I'll look forward to an update.  Thanks!

[2016-05-05 18:33] kategengler opened #2 "Support older testem and /tests for mocha users"
Assuming Mocha has a similar hook, this can be done similarly to support for QUnit for older testem or `/tests` users as done here https://github.com/kategengler/ember-cli-code-coverage/blob/master/lib/templates/test-body-footer.html#L42

Main blocker to adding this is not having an app that uses Mocha for ember tests.

[2016-05-05 18:37] kategengler commented on #1
Released 0.1.1 with a fix for this for QUnit users. Opened #2 for Mocha support.

[2016-05-05 18:37] #1 closed

[2016-05-05 18:59] sfbwalder commented on #1
:+1: Works.  Thanks!

[2016-05-11 14:57] rwjblue opened #4 "Change config file name?"
`config/coverage-config.js` seems redundant, what do you think about changing the file to `config/coverage.js` or `config/code-coverage.js`?

[2016-05-11 19:44] job13er opened #6 "Take over the 'ember-cli-istanbul' package?"
Hey there, I happen to have parked the `ember-cli-istanbul` package in npm (having fully planned to implement it, but priorities shifted at work 😦 ) Would you like to take over ownership of that?

[2016-05-12 06:48] sglanzer commented on #6
Interesting question, because if this is working well (and it appears to be) I'd be happy to deprecate the blanket integration in favor of this project, in which case using the `code-coverage` name would make it clear that this is the blessed addon.

So I guess I would recommend taking over the Istanbul name if there is value in that name association (clearer than code-coverage? Probably not) or i

[2016-05-12 11:14] rwjblue commented on #6
I agree with @sglanzer here. I think it makes sense to have a good general solution to "how do I get code coverage numbers", and I think this library is positioned well as that solution.

[2016-05-13 11:35] job13er commented on #6
Interesting. That didn't seem like the way other addons were named. It's not `ember-cli-testing` but rather `ember-cli-qunit` and `ember-cli-mocha`, is the distinction here because no one *should* want to use anything but `istanbul` for coverage since it's not something you actually interface with?

[2016-05-14 15:45] sglanzer commented on #6
Blanket isn't really maintained and I personally don't see a need to support multiple coverage tools, so as long as there is a community solution to this then it's fine that it's the only game in town and the name can support that.  If there was a feature difference in the coverage tools then I'd stick with `istanbal` and `blanket`, but I don't believe that's the case.

[2016-05-14 15:47] #6 closed

[2016-05-14 23:25] kellyselden opened #7 "files from addons bleed into coverage results"
Not all the files in the picture are mine, some come from addons:
![capture2](https://cloud.githubusercontent.com/assets/602423/15271149/38a90e64-19f0-11e6-9704-aaff4255089b.PNG)

[2016-05-14 23:35] kellyselden opened #8 "paths in "lcov.info" don't relate to project setup"
After I resolve #7, I saw that the paths in "lcov.info" are not right. I was getting in my coveralls logs `Error: ENOENT: no such file or directory, open '/home/travis/build/kellyselden/package-hint-historic-resolver/package-hint-historic-resolver/adapters/application.js'`. It seems the second "app name" needs to be either "app" or "addon" for the path to be correct for coveralls and maybe other r

[2016-05-15 03:09] kategengler commented on #7
Are the files that are from addons all from addon's app tree? Those are ones I've observed are mingled. How could I filter them out?

[2016-05-15 03:14] kategengler commented on #4
👍 will do

[2016-05-15 15:56] benoror commented on #7
Can confirm addons files were instrumented too, which were responsible for the discrepancies. PR with @kellyselden changes concerning to **Addons files exclusion** only: https://github.com/kategengler/ember-cli-code-coverage/pull/10

[2016-05-17 03:20] kategengler commented on #7
I still don't think all addon files bleed into coverage, just those that have been merged with the 'app' tree

[2016-05-17 03:32] rwjblue commented on #7
Agreed, it should be the addon's `app` tree files that are bleeding in at the moment.

[2016-05-18 20:21] sandersky commented on #7
Addressed this in #11 which I believe covers more edge cases than #10

[2016-05-21 14:24] sandersky opened #12 "Coverage is against transpiled ES5 Code"
When using ES6 in my project (also using ES7 decorators via `ember-computed-decorators`), the code coverage being reported is against the transpiled ES5 code. In order to make the coverage report more useful when using services such as *Coveralls* or editor plugins such as *lcov-info* for Atom, the coverage should report against line numbers in the original source code.

[2016-06-21 15:37] #4 closed

[2016-06-21 15:37] #7 closed

[2016-06-21 15:37] #8 closed

[2016-06-21 20:56] rwjblue commented on #12
@sandersky - I believe we are correctly reporting against ES6 code ATM (though not esnext as you mentioned RE: decorators).

[2016-06-21 20:59] offirgolan opened #14 "Support Addon Coverage"
As of currently (v0.2.0) addon support for test coverage is not present. After testing it with my addon, Im only getting coverage for `app/resolver.js` which is pretty meaningless. Im opening up this issue to track the progress for this. Once this lands, ill go ahead and replace blanketjs with this in ember-addon-genie.

[2016-06-22 01:14] kategengler commented on #14
This is my top priority for this addon, I have a WIP but was waiting for that PR that landed earlier today. That said, I will likely not get to it until July 4 weekend at the earliest.

[2016-06-22 18:12] #12 closed

[2016-06-22 18:35] rwwagner90 commented on #14
@kategengler do you have a branch we could look at? If I have some free time, I may be able to help out.

[2016-06-23 23:45] benoror opened #17 "Should .hbs files be taken into account?"
With the latest release (0.2.*) I see `hbs` (compiled as `js`) files taken into account for code coverage. Is that the expected behaviour?

[2016-06-24 00:24] rwjblue commented on #17
Yes, template coverage is intentional. Templates are code too :smile_cat:

[2016-06-24 00:24] #17 closed

[2016-06-24 06:33] didoChulz commented on #1
I can't run the   $ COVERAGE=true ember test   command

[2016-06-24 17:12] GCheung55 commented on #1
@didoChulz what happens when you execute that command? Any output or errors you can share?

[2016-06-27 06:39] didoChulz commented on #1
I got the error **COVERAGE is not an internal or external command** error.
Do I have to install any node modules for this

[2016-06-27 06:40] didoChulz commented on #1
@GCheung55 I got the error COVERAGE is not an internal or external command error.
Do I have to install any node modules for this

[2016-06-29 14:40] rwwagner90 commented on #14
Just let me know if you want me to take a stab at any of this. So pumped for this addon 😄

[2016-06-29 17:29] rwjblue commented on #14
@rwwagner90 - I did some spike work the other day, but ran out of time to finish the other night (honestly I fell asleep 💤 ). Maybe you could decipher and try to bring it home?  https://github.com/kategengler/ember-cli-code-coverage/compare/addon-spike

[2016-06-30 11:58] lolmaus opened #18 "Enabling useBabelInstrumenter results in "Unknown option: direct.includePolyfill" error"
[code]

[2016-06-30 12:53] rwjblue commented on #18
Yes, we will need to strip that option out of the babel config before passing it on to babel.

See this being done in a few other places:

* https://github.com/babel/ember-cli-babel/blob/master/index.js#L82
* https://github.com/ember-cli/ember-cli/blob/master/lib/broccoli/ember-app.js#L1183-L1188

[2016-06-30 13:01] #18 closed

[2016-06-30 13:02] rwjblue commented on #18
Fix was released as v0.2.2

[2016-06-30 13:16] lolmaus opened #20 "Does not include untested files"
Is there an option to include files that are part of the `app/` folder but haven't been executed when running tests?

Not doing so results in a wrong, overstated coverage score.

[2016-06-30 14:05] rwjblue commented on #20
Interesting. This is likely a result of the modules being lazily resolved, so if you do not `import` a given module or force to evaluate it (via `visit`ing a route or invoking a component) it wouldn't be reported.

@sandersky / @kategengler / @sglanzer - Can one of y'all confirm this?  I can add a thing that basically requires all app files (to ensure they are being evaluated) if that is the case.

[2016-06-30 14:08] sglanzer commented on #20
@rwjblue yeah, that's what we did in blanket (required everything in the app directory)

[2016-07-01 21:55] wagenet commented on #20
I'd be happy to give this a shot.

[2016-07-08 09:56] bmeurant commented on #14
I tested it on one of my addon and it seemed working perfectly :+1:
I made [some simple changes](https://github.com/bmeurant/ember-cli-code-coverage/commit/2d50b3c0426ae4c795af01742af265fb959042ff) on my fork regarding tests.

Merging to home should be simple but I am not sure to see all cases and impacts. It seems pretty good to me but I am not mastering addons & hooks and I am sure I miss someth

[2016-07-08 23:11] elwayman02 commented on #14
@kategengler does the addon spike play nicely with ember-try?

[2016-07-13 10:01] bmeurant commented on #14
@elwayman02 @kategengler I tested it running a `ember try:each` and I did not experiment any specific issue

[2016-07-15 21:34] bmeurant commented on #14
I found some incompatibilities between addon-spike implementation and usage of eslint in the covered addon.

When running tests with coverage enabled, ember-cli-eslint fails as described in ember-cli/ember-cli-eslint#56.

I suspect the call to `preprocessTree` in `included` [here](https://github.com/bmeurant/ember-cli-code-coverage/blob/addon-spike/index.js#L28). This seams to lead to multiple mer

[2016-07-21 21:19] adhamhf commented on #20
would this also include .hbs files?  I'm noting their is logic them that is not necessarily getting covered....

[2016-07-25 14:40] sglanzer commented on #20
Coverage typically would include .hbs files, but the mapping is based on compiled templates (HTMLbars), so it doesn't always look pretty ;)

[2016-07-25 14:41] sglanzer commented on #20
@wagenet did you get anywhere on this?  I have a few devs that are going to start picking up the work around addon testing and we could take a look at this as well

[2016-07-25 21:48] akhileshk opened #21 "No Coverage generated got following error"
After ember-cli-code-coverage used following command  "COVERAGE=true ember test" to run the test
getting following error:

{ type: 'error',
              text: 'Error: Pretender intercepted POST /write-coverage but no handler was defined for this type of request at http://localhost:7357/assets/vendor.js, line 68809\n' }

Do I need to do any configuration on my end?

//env:
Package.json
 "devDepend

[2016-07-25 23:37] benoror commented on #21
@akhileshk https://github.com/kategengler/ember-cli-code-coverage/#using-when-intercepting-all-ajax-requests-in-tests

[2016-07-26 17:53] akhileshk commented on #21
@benoror
Could you pls. elaborate?  I am little new to Ember.js
I have seen this section and, I am already using a pretender which has the required fix("pretender": "^0.12.0",).  I am not using the mirage, do I suppose to provide a post method and write the coverage data myself?

I have fake-server.js which mock all the server data thru pretender if I provide following post method in fake-server.j

[2016-07-26 23:37] akhileshk commented on #21
I tried with a different Ember App which uses pretender and Mirage and it does generate a coverage report.
With the Istanbul, one can instrument the code base and run the test latter on the instrumented code, can we do some thing similar with this plugin for ember app.
The document does mentioned that :
"it instruments your application code as part of the build, when enabled."
so how do we enable

[2016-07-27 18:25] kategengler commented on #21
`COVERAGE=true` is the part that enables instrumentation of the code. You have that in the command you ran.

[2016-07-27 20:02] wagenet commented on #20
@sglanzer didn't end up getting beyond a hack in my own app.

[2016-07-28 15:51] wagenet commented on #20
I added the following to my `tests/index.html` after the `<script src="assets/test-loader.js"></script>` line.

[code]

(`direwolf` is the app's name.)

[2016-07-28 17:21] sglanzer commented on #20
@EWhite613 is going to start picking up some of this work - pinging him here to start involvement

Also @wagenet wins the app name of the month - I would want to work on a project with a name like that 👍

[2016-08-03 16:07] jonathansamines opened #23 "Checking app code agains thresholds"
I wonder if it is possible to add thresholds checking to the ember-cli build process.

[2016-08-05 17:41] arjansingh commented on #14
:+1: Love this addon. Can someone give me a lay of the land for what needs to be done to make this work with addons? (@rwjblue?)

If I can get a high level overview of what needs needs changing or how an addon's structure is different from an app's, I'm happy to take a stab at addon compatibility.

[2016-08-05 17:49] rwjblue commented on #14
I believe that @bmeurant has been working in cleaning up the spike I linked above.

[2016-08-05 19:52] bmeurant commented on #14
@rwjblue yes I did some (very light) cleanup on your initial work ([here](https://github.com/bmeurant/ember-cli-code-coverage/tree/addon-spike)). The spike basically works (congrats!). But, as said before, I was stuck because of some incompatibilities with ember-cli-eslint (``included`` call to ``preprocessTree`` is leading to multiple merge trees and this is not supported by ember-cli-eslint.

I

[2016-08-08 20:39] #21 closed

[2016-08-08 23:15] fotinakis commented on #20
Happy to beta test this when ready — I just switched a large Ember app from `ember-cli-blanket` to this addon, coverage jumped from 55% to 85% due to this issue.

[2016-08-09 02:20] benoror commented on #20
+1 same here

On Mon, Aug 8, 2016, 18:15 Mike Fotinakis <notifications@github.com> wrote:

--

*Ben Orozco*Website: benoror.com
Appointments: vyte.in/benoror

[2016-08-10 13:45] EWhite613 commented on #20
I got to the point where I basically store file patterns in `config/coverage.js` and would read in the files, but was never able to produce a coverage object ([Istanbul's api documentation](http://gotwarlost.github.io/istanbul/public/apidocs/classes/Collector.html) leaves something to be desired)so I could add it to the coverage report.

My only working solution was to merge the untested broccoli

[2016-08-11 12:45] rwwagner90 opened #25 "Does not appear to work with decorators"
I'm getting an error using decorators:

[code]

The line in question:

[code]

[2016-08-11 13:13] rwjblue commented on #25
You need to enable Babel instrumenter. It should be documented in the README I think...

[2016-08-12 13:00] mike183 commented on #20
I'm also running into this issue, I currently have an application with 0 tests (I know...terrible), but it's reporting back as 100% code coverage! 😅

[2016-08-12 18:45] fotinakis commented on #20
This is how blanket-require.js does it, apparently:
https://github.com/sglanzer/ember-cli-blanket/blob/e7e80913b10e8b38863ff57a0cfa3c41daa2c810/vendor/blanket-require.js#L103

[2016-08-12 18:58] sglanzer commented on #20
We're funky like that - just not sure if those concepts carry forward into the best practice version of a code coverage addon - someone else will need to make that call, my brain hasn't been in this space for a while

[2016-08-12 18:59] fotinakis commented on #20
👍 I like it, I'm up for anything that fixes this. :)

[2016-08-12 18:59] wagenet commented on #20
@sglanzer it's the code name for skylight.io :)

[2016-08-13 00:28] BryanCrotaz opened #26 "does not work with addons"
Only reports coverage in the `app/` folder and not in the `addon/` folder

[2016-08-13 00:29] #26 closed

[2016-08-13 00:29] BryanCrotaz commented on #26
Sorry, duplicate of #14

[2016-08-13 03:27] sglanzer commented on #20
I'll try to find some time next week to sync with @rwjblue and @kategengler - probably should put together a roadmap for this and the addon coverage issues

[2016-08-17 02:54] kategengler commented on #25
@rwwagner90 You worked this out, if I remember correctly?

[2016-08-17 12:11] rwwagner90 commented on #25
Yep, sorry for the noise!

[2016-08-17 12:11] #25 closed

[2016-08-24 22:10] rwjblue commented on #14
I just submitted https://github.com/kategengler/ember-cli-code-coverage/pull/31 (thanks to @ewhite613's work on updating my spike).

Can y'all test that PR out and confirm that all is working well?

[2016-09-01 19:48] lukesargeant opened #32 "Mocha phantom addon coverage issue in master causing a global error."
Hi guys, while trying out #31 using:

ember-cli: 2.7.0
node: 0.12.6
os: darwin x64
phantomjs: 1.9.8

I (accidentally) tried out the current master and started having a problem with a global error. After a bit of digging it seems that https://github.com/kategengler/ember-cli-code-coverage/commit/f2ba0e8091daedc20e4d196138fbf9f841f8eb3f causes a broken test on a fresh addon, with just ember-cli-moch

[2016-09-14 11:57] sfyfe31 opened #33 "Clearer documentation"
I'm trying to set-up coverage on my Ember testing, but I can't seem to get this to work.

I've run `ember install ember-cli-code-coverage`. It is now in my node_modules folder.

I've tried adding `coverage` and `COVERAGE` parameters to the test_page property in testem.js e.g.

[code]

But when I run `ember test` or `ember test --server`, I'm not seeing any coverage files/folders generated. The tes

[2016-09-14 14:11] mike183 commented on #33
Have you tried running either `COVERAGE=true ember test` or `COVERAGE=true ember test --server`?

[2016-09-14 14:13] sfyfe31 commented on #33
`ERROR: oci runtime error: exec: "COVERAGE=true": executable file not found in $PATH`

[2016-09-14 14:29] mike183 commented on #33
Hmm, I suspect that the code coverage is not being generated because the `COVERAGE` environment variable is not set to true, which is what the `COVERAGE=true` part of the above commands was supposed to do.

[2016-09-14 15:11] #14 closed

[2016-09-14 17:22] alexlafroscia opened #34 "Add code coverage"
`ember-cli-code-coverage` now [supports addons](https://github.com/kategengler/ember-cli-code-coverage/pull/31) so I want to get that running for `ember-ajax`.

[2016-09-14 17:22] #34 closed

[2016-09-14 17:22] alexlafroscia commented on #34
Sorry, wrong repo! Wish I could delete issues but apparently you can't.

[2016-09-15 00:26] arjansingh opened #36 "Addon Support: Properly name files in `lcov.info`"
Currently `lcov.info` namespaces addon code as: `SF:modules/addon-name/models/ab.js`

It should be: `SF:addon/models/ab.js` so that code coverage tools like Coveralls can properly parse the file.

I solved this using `sed s/SF:modules\\/addon-name/SF:addon/` in my build jobs, but we probably should work on properly renaming it and save everyone the trouble. If someone could point me to some lines

[2016-09-15 00:55] rwjblue commented on #36
Yep, thanks for opening the issue.  Definitely needs to be addressed.

Happy to chat through the issue with someone willing to do the work on fixing...

[2016-09-15 07:02] alexlafroscia opened #37 "Addon tests never exit"
Been trying to get code coverage working for `ember-ajax` but am running into an issue.  When running

[code]

the tests start, run fine, and generate the `coverage` directory.  However, the process never exists.  Some configuration options that might be relevant:

- Test are run through Mocha
- `ember-cli v2.8.0`
- `ember-cli-pretender v0.7.0`
-  `pretender v1.2.0`

If you want to try it out, I'v

[2016-09-15 07:16] alexlafroscia commented on #37
No idea if helpful, but I did notice something off when running with `DEBUG=*`.  There's a line in the log from `engine:ws` with the following information:

[code]

And from there it's really long.  The numbers seem weird though, right? 154 passed, 155 total with none failing or pending?

[2016-09-15 12:06] kategengler commented on #32
Removing those lines will mean that coverage does not get written.

For a workaround for now, I highly recommend not using Phantom. These kinds of issues where Phantom behaves differently than any real browser crop up all the time and it's just not worth the time to debug them when no end-user is using Phantom as a browser.

[2016-09-15 13:28] rwjblue commented on #37
Sounds like https://github.com/kategengler/ember-cli-code-coverage/issues/32, can you confirm?

[2016-09-15 13:31] rwjblue commented on #32
Can you `console.log(data)` to see if it is somehow invalid (I'm thinking of escaping issues or something from Mocha)?

[2016-09-15 17:40] kellyselden opened #39 ""Error: request aborted" on >= v0.3.0"
I've been toggling between v0.2.2 and v0.3.0 (or v0.3.1) and I'm getting a cryptic error in the new one.

[code]

And it doesn't create the coverage folder. It worked fine in the older version. I'm not using mirage or pretender.

[2016-09-15 17:48] rwjblue commented on #39
Using phantom?  Mocha? Sounds conceptually similar to https://github.com/kategengler/ember-cli-code-coverage/issues/32 (in that it sounds related to reading the posted coverage payload).

[2016-09-15 17:50] kellyselden commented on #39
phantom and qunit

[2016-09-15 20:48] tylergets commented on #39
Having the same issue.

[2016-09-16 06:45] zzarcon opened #40 "Integration components support"
Is this addon supporting integration components? Like for instance if I have an integration component test like the following one:

[code]

Will this addon know that the involved properties or methods of the component are involved in the test and take that into account when providing the coverage result? In that case can you shortly explain how that works?

Thanks!

[2016-09-16 17:19] alexlafroscia commented on #37
Possibly?  I don't get any failing tests though, which that issue seems to have.

[2016-09-17 23:48] alexlafroscia commented on #37
I can't even get things working on a fresh addon

[code]

and from there, it hangs

[2016-09-18 00:11] alexlafroscia commented on #37
Tried updating to `ember-cli@2.8.0` and re-generating the addon, but no luck there...

I'm wondering if something weird is happening by calling `Testem.afterTests`.  It seems weird that the pause happens before the summary of `1..8` etc etc, like Testem isn't getting the message that it needs to finish up.

[2016-09-18 00:24] alexlafroscia commented on #37
Aaaaand it seems to be a Phantom issue.  If I set up Testem to run Chrome in CI, then everything works as expected.

[2016-09-18 00:33] kategengler commented on #37
There's definitely something funny w/r/t Phantom + Testem + ember test in the last month or so, but I haven't been able to get it into a reproducible scenario. We've been running the top 100 addons ember-try nightly and a few fail because of phantom hanging.

[2016-09-18 00:36] alexlafroscia commented on #37
Weird.  If you do the steps above locally (new addon w/ `ember-cli-code-coverage`) does it work?

BTW I've got Phantom 2.1.1 installed locally, AFAIK that's what it's running against.

[2016-09-18 01:22] alexlafroscia commented on #37
Solution: don't use Phantom

[2016-09-18 01:22] #37 closed

[2016-09-18 01:33] alexlafroscia opened #41 "Excludes not working as expected with addon"
Having now set up coverage for `ember-ajax`, I'm trying to get it working right.

The follow are the files that are having coverage calculated:

<img width="302" alt="screen shot 2016-09-17 at 6 31 24 pm" src="https://cloud.githubusercontent.com/assets/1645881/18612089/022466b8-7d05-11e6-819d-a9a358849eda.png">

However, I've tried to ignore the whole `tests/dummy` directory with the configuration

[2016-09-18 18:38] GCheung55 commented on #32
Maybe try seeing if it's reproducible in Safari?

[2016-09-19 19:04] twokul opened #42 "Use `configPath` instead of hard-coded "config""
Ember CLI supports a custom path for app's configuration via `configPath` variable in `package.json`. `Project` model has [`configPath`](https://github.com/ember-cli/ember-cli/blob/2bce175ce188ae0f47a55fa23d6affe2d768ddfb/lib/models/project.js#L177) method to aid.

I think it could be as easy as replacing `config` to `configPath` function call over [here](https://github.com/kategengler/ember-cli-c

[2016-09-21 03:37] denchen commented on #39
I'm seeing the same issue too. I've tried `0.3.1` and `0.3.2`, and I get that `request aborted` message, and there is no `/coverage/` directory. I am using **`ember-cli-mirage@0.2.2`** with this passthrough in `/mirage/config.js`:

      this.passthrough('/write-coverage');

I went down to `0.2.2` and everything seems to work, and I get coverage information.

[2016-09-21 04:09] denchen opened #44 "How to view coverage files?"
Forgive me if this is a dumb question, but is there a way of viewing the generated coverage files from within Ember itself, or do I have to manually open those files on my computer from my web browser? As reference, I was using `ember-cli-blanket` previously, and I had the option of viewing coverage details when navigating to `http://localhost/tests?coverage`, which would run the tests and show co

[2016-09-21 18:55] dfreeman opened #45 "No coverage when addon and package name don't match"
We have an npm scope associated with our private registry, so our internal addons all have scoped package names like `@scope/foo-bar`. They use the unscoped version (`foo-bar`) for the name in their `index.js`, which unfortunately causes ember-cli-code-coverage to filter out all our actual addon files.

Locally, I've had success replacing instances of `project.pkg.name` with `project.name()`, whic

[2016-09-21 19:14] kellyselden commented on #45
That location for app/addon name was just the first/easiest place to find it. If a better or more complex way of determining it that covers more cases is possible, it should definitely be explored.

[2016-09-21 19:40] dfreeman commented on #45
Actually, looking at the implementation of `findAddonByName`, it supports looking up addons by their package name if it doesn't match their configured name. I'll see if I can pull something together based on that.

[2016-09-24 13:36] nathanpalmer commented on #39
We're running into something similar. Getting timeouts on 0.3.2. Downgraded to 0.2.2 and it's working fine. We also use ember-cli-mirage@(roughly 0.2.2).

[2016-09-25 05:54] offirgolan commented on #36
@rwjblue I got some time this week to work on this. We can discuss this further on slack if you're up for it.

[2016-09-29 13:41] rwwagner90 commented on #44
@denchen you have to view the files manually I think. Just go in the coverage folder and open index.html

[2016-09-29 13:42] rwwagner90 commented on #36
@rwjblue sounds like both @arjansingh and @offirgolan are willing to give it a try. I'm also willing to help out if needed, but would really love this to be implemented 😄

[2016-09-29 13:53] rwjblue commented on #36
Absolutely, would love to get this fixed.  I haven't really looked into it too much to know what work would be needed.

[here](https://github.com/kategengler/ember-cli-code-coverage/blob/master/lib/attach-middleware.js#L23) is where we process the posted results from the test run, that seems like the most likely place to modify the JSON output before being written to disk.

[2016-09-29 16:28] ssurana2 opened #47 "The coverage summary json is missing a '}' in the end"
Hi

After running `COVERAGE=true ember test` and opening `coverage_summary.json` file, the file shows that json is not totally formatted. And adding '}' in the end takes care of the issue. Just wanted to report the issue.

[2016-09-29 16:31] rwjblue commented on #47
Hmm. Seems pretty odd. How large is the file?

[2016-10-04 05:08] ssurana2 commented on #47
its a 2.4 KB file. Have attached the txt version of the json file for your reference.
[coverage-summary.txt](https://github.com/kategengler/ember-cli-code-coverage/files/507717/coverage-summary.txt)

[2016-10-05 01:59] JoshSmith commented on #39
Also having the same issue, using Mirage with the passthrough.

[2016-10-07 14:38] nfc036 opened #48 "Addon support: no coverage for addon files on Windows"
I did not get any coverage information for files within the addon subdirectory. This problem seems to be specific for windows environments. It seems, that the function [here](https://github.com/kategengler/ember-cli-code-coverage/blob/0b6ebaaf245739c255edbd5e2a557008ba11a683/index.js#L132)
[code]
in index.js has problems with the path separator on Windows ("/" vs. "\"). Inserting `relativePath = p

[2016-10-07 15:02] rwjblue commented on #48
Lets break apart that line a bit, and update your local copy with the snippet below, then tell me what the console output values are..

[code]

I suspect, that we actually should be doing the following to cleanup/sanitize using `/` before checking `_existsSync`:

[code]

[2016-10-07 15:23] nfc036 commented on #48
Hi Robert, thanks for looking into this. Here the output for one file:
[code]

[2016-10-07 15:26] nfc036 commented on #48
Indeed, the second code snippet fixes the problem.

[2016-10-07 15:28] rwjblue commented on #48
Submitted https://github.com/kategengler/ember-cli-code-coverage/pull/49 to fix.

[2016-10-07 15:34] #45 closed

[2016-10-07 15:42] rwjblue commented on #32
I believe this was fixed in https://github.com/kategengler/ember-cli-code-coverage/pull/43 (thanks to @dfreeman's excellent sleuthing skills).

[2016-10-07 15:42] #32 closed

[2016-10-07 15:47] #48 closed

[2016-10-10 07:06] nfc036 commented on #33
See Usage section in the Readme. What works for me:
[code]
with a scripts-entry like
[code]
in **package json**. Running `npm run coverage` is than generating the coverage results.

[2016-10-10 11:48] nfc036 opened #53 "Missing coverage information in top-level addons in 0.3.3."
Starting from Version 0.3.3 the parameter `name` in `_filterOutAddonFiles` is a function and not the actual name. This issue seems fixed when changing [line 255](https://github.com/kategengler/ember-cli-code-coverage/blob/0cdcccecc2d1130c551c18ea6fa1f955c07637cb/index.js#L255) (function _parentName) from
[code]
to
[code]

[2016-10-10 12:40] nfc036 commented on #53
... or
[code]
as in kategengler/ember-cli-code-coverage#52

[2016-10-10 12:48] rwjblue commented on #53
So the underlying issue is tha `this.parent` is EITHER the project instance (which has a name function) OR an addon instance (which has name as a string property).

The current logic seems like it will work properly for nested addons (because parent.name will be a string), but not for top level addons.

[2016-10-10 13:31] rwjblue commented on #53
Closed by #52

[2016-10-10 13:31] #53 closed

[2016-10-12 23:33] sglanzer commented on #36
@sandersky didn't we do modification of the module names after the coverage report - can we reuse that concept here?

[2016-10-17 02:36] BrianSipple commented on #44
@rwwagner90 yep, that's how I've been playing it so far.

@denchen One idea that comes to mind is having an npm script that spins up something like `http-server` and opens your browser to the `coverage` directory:

[code]
But of course, that introduces the trade-off of extra dependencies for other developers, etc, etc -- so please don't treat that example as more than a whim 😄.

[2016-10-18 17:40] luketheobscure opened #55 "Does not work with CoffeeScript"
It looks like files compiled from CoffeeScript (using ember-cli-coffeescript) are not included when calculating code coverage. They don't show up on any of the reports.

[2016-10-19 21:25] epchristi opened #56 "Not generating coverage reports"
[When running tests with COVERAGE=true, not generating results.

config/coverage.js has:
module.exports = {
  reporters: ['lcov', 'html']
}

mirage/config.js has:
this.passthrough('/write-coverage');
(NOTE: When this was wrong, I got errors about ember not being able to POST to /write-coverage. Those errors are gone now)

I am running the tests like:
COVERAGE=true ember test

The tests run, but no

[2016-10-22 12:06] BrianSipple commented on #56
@epchristi Do you mind if I ask what editor you're using?

I got trolled pretty hard by this a few days ago when using VSCode. Everything ran perfectly, but no `coverage` folder was to be found.

...then I collapsed and expanded the top-level folder :upside_down_face:.

[2016-10-24 03:50] srowhani commented on #41
I found that `/dummy/(.*)/` or something similar does the trick.

[2016-10-26 02:07] stripedpumpkin opened #57 "Work with ember test --server, not with ember test"
Works fine with `ember test --server` (testem, qunit)

testem.js

[code]

With `ember test`

[code]

Is this expected?

[code]

[2016-10-27 21:25] rwwagner90 commented on #36
Just threw up a PR that will hopefully be satisfactory to resolve this issue, at least until someone has a better way to do it 😄

[2016-10-27 22:19] rwwagner90 opened #59 "ESLint?"
Should we use ESLint instead of JSHint? I see ESLint is already used, so should we swap out and do ember-cli-eslint to use all ESLint?

[2016-10-28 01:05] rwjblue commented on #59
Sure, seems good.

[2016-10-31 20:07] #36 closed

[2016-10-31 20:25] kategengler commented on #39
#57 seems similar

[2016-11-01 00:40] #20 closed

[2016-11-01 13:19] lolmaus commented on #20
@rwjblue @wagenet @kategengler You rock!

![rock](http://3.bp.blogspot.com/-KHc70esXncY/T76RN0I7mKI/AAAAAAAAOwg/8xUnLhIcHGU/s1600/key%2Bholder.jpg)

[2016-11-01 17:50] luketheobscure commented on #55
I've set up a demo app illustrating this bug: https://github.com/luketheobscure/ember-code-coverage-bug

I don't have the spare time to try to tackle this myself, but I would be happy to test things out.

[2016-11-01 17:51] rwwagner90 commented on #44
I think we should document how to view the coverage and then close this issue. Thoughts @rwjblue or @kategengler?

[2016-11-01 17:54] rwjblue commented on #44
Ya, sounds good...

[2016-11-01 20:39] mattmarcum opened #63 "Issue with ember-page-object"
I'm getting a strange error that I can't debug when I turn code-coverage on.

[code]

Weird thing is that I'm not using `page-object-component` anywhere so I'm not sure why its getting tested or pulled in.  Also my project only has 438 tests so I'm guessing test 439 is one added by code-coverage?  I'm running ember-lts (2.8),  "ember-cli-code-coverage": "0.3.6",  "ember-cli-mocha": "^0.10.4", "emb

[2016-11-01 21:29] mattmarcum commented on #63
debugged this with @kategengler and traced it to some weirdness in ember-cli-page-object.  Its putting weird code in the app's name space.

[2016-11-01 22:08] kategengler commented on #63
That's part of it, but also the cause is the code added yesterday to require all files in the project (so that coverage % takes into account files that aren't tested at all).

I think changing this throw to a warning would be a better middle ground: https://github.com/kategengler/ember-cli-code-coverage/blob/master/lib/templates/test-body-footer.html#L10

[2016-11-01 22:13] kellyselden commented on #63
I think I'm getting this issue with some unused mirage code as well FYI. The solution may be to remove the code, but I dunno.

[2016-11-02 01:14] rwjblue commented on #63
Ya, I think we should probably just not throw.  However, it almost certainly points out unused code (since if simply requiring throws it is very unlikely to be used).

[2016-11-02 01:32] rwjblue commented on #63
Should be fixed by https://github.com/kategengler/ember-cli-code-coverage/pull/64

[2016-11-02 13:29] #63 closed

[2016-11-02 17:03] kellyselden opened #65 "new error in 0.3.7"
I'm testing out the difference between 0.3.5 and 0.3.7 in my app. 0.3.5 generates the coverage folder. 0.3.6 threw on requiring invalid files. 0.3.7 doesn't generate the coverage folder, and shows this at the end of the console:

[code]

[2016-11-02 17:07] kellyselden commented on #65
[code]

[2016-11-02 17:08] rwjblue commented on #65
Hmm, definitely odd. The only real differences in 0.3.5 and 0.3.7 are the requiring of additional modules ([diff here](https://github.com/kategengler/ember-cli-code-coverage/compare/v0.3.5...v0.3.7)).  Can you run package-hint-historic-resolver and see if there was another package updated?

[2016-11-02 17:09] kellyselden commented on #65
It wasn't an update over time. It was me just now switching between the two versions back and forth.

[2016-11-02 17:10] kellyselden commented on #65
Could the requiring of some new random file, that network requests, and fails, and aborts the coverage?

[2016-11-02 17:46] rwjblue commented on #65
Definitely possible, but its unlikely that we can help you debug that...

[2016-11-02 18:32] kellyselden commented on #65
very true. the problem was just a stab in the dark. If no one else has the issue we should close.

[2016-11-02 18:55] sfbwalder opened #66 "conflict with yadda require()"
I am running tests with code-coverage on and using [ember-cli-yadda](https://github.com/curit/ember-cli-yadda) and [yadda](https://github.com/acuminous/yadda).  Yadda is setting ember's global ```require()``` to its own function.  This makes the coverage reporting fail in the script inserted into tests/index.html [at this line of code](https://github.com/kategengler/ember-cli-code-coverage/blob/ma

[2016-11-03 13:53] kategengler opened #67 "Unify code to correct file names in coverage output"
From #58

There is a place that changes the displayed filenames in the instrumenter: https://github.com/kategengler/ember-cli-code-coverage/blob/master/lib/coverage-instrumenter.js#L27

Is it possible to do this massaging there?

Another potentially relevant spot: https://github.com/kategengler/ember-cli-code-coverage/blob/master/index.js#L129

[2016-11-03 14:14] #59 closed

[2016-11-07 17:08] rwwagner90 opened #69 "Return null from fixPath to avoid instrumenting"
Had an extensive chat with @rwjblue on things we want to implement, one of them is we should be able to return `null` from `fixPath` to avoid instrumenting.

[2016-11-07 17:11] rwwagner90 opened #70 "Handle app in addon case"
Unsure what we may need to handle here, as I think we want app included in coverage for addons, but was mentioned in talking with @rwjblue, so throwing up an issue to track.

cc @rwjblue

[2016-11-07 17:12] rwjblue commented on #69
Thanks for putting the issue out here so we don't forget!

An example of this would be to avoid instrumenting anything added by addon's to the `app/` tree...

[2016-11-07 17:14] rwjblue commented on #70
Yes, basically we need to tweak [this conditional](https://github.com/kategengler/ember-cli-code-coverage/blob/5c7e1a54b8a3776b53a4b41d01e17f08ae77cb5b/lib/coverage-instrumenter.js#L32) to look for `app/` and not `tests/dummy/app`.

[2016-11-07 17:15] rwjblue commented on #70
Oh, wait, I think I missed the fallback case [here](https://github.com/kategengler/ember-cli-code-coverage/blob/5c7e1a54b8a3776b53a4b41d01e17f08ae77cb5b/lib/coverage-instrumenter.js#L37).

This is likely already working properly, sorry!

[2016-11-07 17:15] #70 closed

[2016-11-07 17:18] #67 closed

[2016-11-07 17:19] rwjblue opened #71 "Stop covering `tests/dummy/app` files."
It seems pretty odd that we would want to consider `tests/dummy/app` files as part of code coverage (since they are actually part of the test harness itself).

Does anyone have objections?

/cc @sglanzer @kategengler @rwwagner90 @sandersky @kellyselden

[2016-11-07 17:20] rwjblue commented on #71
FWIW, this will require the changes discussed in https://github.com/kategengler/ember-cli-code-coverage/issues/69 to implement (though not particularly hard).

[2016-11-07 17:24] kellyselden commented on #71
If you have a complicated acceptance test setup with a large dummy app, and test coverage tells you that some of that dummy app is not being run, would that be something worth preserving?

[2016-11-07 17:26] rwjblue opened #73 "Ensure `app/` files are required for addon coverage."
The current code that kicks off a `require` for each module will only require addon files in `addon/` directory. It does not include `app/` files (since they would be under `dummy` not `my-addon-name`).

In conjunction with https://github.com/kategengler/ember-cli-code-coverage/issues/71, we should also kick off require's for `dummy` when in an addon.

[2016-11-07 17:29] rwjblue commented on #71
Ya, I can definitely see this argument.

To me it comes down to what the point of "code coverage" is. IMO, the goal is to ensure that the code we are shipping to consumers (`addon/` and `app/` for addons, and `app/` for apps) is sufficiently covered.

Also, there are a large number of addons that primarily use `tests/dummy/app` for their demo / marketing sites. Much of that code is presentational

[2016-11-07 17:32] kellyselden commented on #71
Would it be too complex to not cover "dummy" by default, but allow a config option to turn it on?

[2016-11-07 17:36] rwwagner90 commented on #71
@kellyselden I approve of disabling by default and allowing an option to turn it on. Would not be hard to do at all.

[2016-11-07 17:36] rwjblue commented on #71
Unsure, but we should investigate when we implement.  I agree having finer grained control of "should cover" or "should not cover" would be great....

[2016-11-07 17:44] sglanzer commented on #71
I've used an `excludes` filter that was configurable for something like this before, I agree with not including the dummy by default for the same reasons @rwjblue already listed

[2016-11-07 17:45] kellyselden commented on #71
I also agree that not covering `dummy` by default is a safe choice.

[2016-11-07 17:47] rwwagner90 commented on #71
If everyone agrees, I will remove dummy by default and add a config flag to enable dummy coverage.

[2016-11-07 19:09] rwjblue commented on #71
I agree that we should remove it from being included by default, but I would prefer to not add a flag specifically for `includeDummy` to config.

I would like to just go whole hog and add a `shouldIncludeFile` hook to config.

Might look like:

[code]

This gives us all the most configuration without adding flags for all possible permutations...

[2016-11-07 20:42] rox163 opened #75 "Coverage failing with version 0.3.6 and up"
I seem to have an issue with v 0.3.6+ of ember-cli-code-coverage.
Running `COVERAGE=true ember test` kept failing after the last test was run ie when coverage would normally start. Its not repo specific. Doesnt matter what the tests are, this error always shows up at the end
[code]
I have pin pointed this to version 0.3.6 of ember-cli-code-coverage. Up to 0.3.5 everything works great. If you pin t

[2016-11-07 20:50] rwjblue commented on #75
Can you tell me if `Object.keys(require.entries)` causes the same error?

If it does, this is likely the same (or related to the same root cause) as https://github.com/kategengler/ember-cli-code-coverage/issues/66.

[2016-11-07 21:04] rox163 commented on #75
@rwjblue Not sure. What would you like me to do to test that `Object.keys` line?

[2016-11-07 21:21] rwjblue commented on #75
Run `ember test --server`, after your tests run in your browser open the console, type `Object.keys(require.entries)`. Is there an error?

[2016-11-08 15:08] rox163 commented on #75
@rwjblue Yes there is an error.
![screen shot 2016-11-08 at 10 07 12 am](https://cloud.githubusercontent.com/assets/313318/20104241/3babba8a-a59b-11e6-8afd-81e9afd54520.png)

[2016-11-08 15:18] rox163 commented on #75
Any suggestions on how to debug/work around this? As far as I can tell there is no custom `require` in my project directly but not sure about the dependent addons. We dont use yadda as was mentioned as the culprit in the other issue.
I can point you to a project that has this failure when the coverage version is set to 0.3.6 - https://github.com/ciena-frost/ember-frost-navigation/blob/master/packa

[2016-11-08 16:46] kellyselden opened #76 "RFC: API to cover both adding and removing files from coverage"
Now that we are requiring all files, issues like #65, #66, and #75 are popping up, and the problem may not be immediately clear. We also have files we want to stop covering in #71. I propose we unify any API to resolve these issues, or at least make them compatible. Maybe both a `shouldInclude` and a `shouldExclude` hook. That's about as far as I got in the thought process.

[2016-11-08 18:09] rwwagner90 commented on #76
@kellyselden there is an `exclude` array, but I do not think it reliably works. We could have a sane `exclude` default, and then the user could override it to be blank if they wanted to include everything or add to it to exclude more, etc. Thoughts?

[2016-11-08 19:04] danny-andrews opened #77 "Template Files not Being Included in Coverage Report"
Library Versions:
- ember: **2.4.3**
- ember-cli: **2.4.3**
- ember-cli-code-coverage: **0.3.2**

Pods? **Yes**

When I run tests with `COVERAGE=true` inside an addon, I don't see the templates included in the coverage like they are inside standard ember apps.

[2016-11-09 00:49] rwwagner90 commented on #77
@danny-andrews can you try the latest version, 0.3.8, just to see if anything has changed?

[2016-11-09 16:07] danny-andrews commented on #77
I see the same behavior on `0.3.8`.

[2016-11-09 22:35] sfbwalder commented on #66
More info here...  curit/ember-cli-yadda#30

[2016-11-11 15:31] thagul commented on #65
I've just ran into the same issue. Any hint on how to debug the issue?

[code]

I'm using
[code]

[2016-11-11 15:34] rwjblue commented on #77
@danny-andrews - Is the addon public or can you create a demo repo so we can try to dig into this?

[2016-11-11 18:16] rox163 commented on #75
Related to https://github.com/kategengler/ember-cli-code-coverage/issues/66 as in my case it seems to be a conflict with mocha's require.

[2016-11-13 07:37] baseballlover723 commented on #39
having the same issue on one of my projects using 0.3.2. Whats weird is that it only sometimes (~50%) happens and only on codeship. I can't reproduce this locally. Downgrading to 0.2.2 seems to of fixed it

[2016-11-16 07:43] #47 closed

[2016-11-16 07:45] ssurana2 commented on #47
@rwjblue the plugin that I was using to prettify the json file in the txt file attached above had some issue. Because of which, I was a bit mislead to believe there is an issue in the json produced by ember-cli-code-coverage.

[2016-11-16 20:09] jbelmont opened #78 "Excludes options for config/converage.js doesn't seem to work"
Hello There

I have the following in in config/converage.js

[code]

But in the converage folder generated I see the following files
addon, app, lcov-report, test/dummy

What am I doing wrong here?

[2016-11-17 09:11] Senthe commented on #39
There was similar issue for Blanket:
https://github.com/sglanzer/ember-cli-blanket/issues/112. It seems that making the request to /write-coverage synchronous might help. Now if I only knew what to change in my code to try it out.

[2016-11-17 14:55] kategengler commented on #39
The request did change from being sync to async in this commit https://github.com/kategengler/ember-cli-code-coverage/commit/f2ba0e8091daedc20e4d196138fbf9f841f8eb3f#diff-94eab975fb48e219fc130d82e21457ac

However, I have a hunch that this is related to testem version and the fact that a synchronous request fixes it is a patch over the problem, rather than the solution.

**For anybody seeing this i

[2016-11-17 19:12] jbelmont commented on #78
my fault here by misspelling config/coverage.js

[2016-11-17 19:12] #78 closed

[2016-11-18 21:40] chrisvdp commented on #39
`"ember-cli": "^2.8.0"`
running `COVERAGE=true $(npm bin)/ember test` in CI

[2016-11-23 09:41] Cryrivers commented on #39
we are running into the same issue.

Ember CLI: 2.8.0
Running `COVERAGE=true ember test`

However, running `COVERAGE=true ember test --server` works.

[2016-11-28 08:01] gustaff-weldon opened #80 "[Q]: What is the best way to integrate ember-cli-code-coverage with ember-exam"
We are currently running `ember-cli-code-coverage` along with `ember-exam` parallel runner.
This works great, however, the downside is, that coverage is generated on a console for each `ember-exam` partition separately.

Is there a way, to merge the reports to obtain one coverage report?

[2016-11-30 00:39] hoboman313 opened #81 "ember-test never terminates with COVERAGE=true"
ember-cli: 2.10.0 ( also repro in previous version )
ember: 2.10.0
ember-cli-code-coverage: 0.38.0

`ember t` everything is good with no errors and proper termination. `COVERAGE=true ember t` everything succeeds and the coverage is generated as expected, but the process never terminates. When I run it in DEBUG="*" mode it seems to hang with:
[code]

Looked into debugging phantom js but found no ob

[2016-11-30 02:54] kategengler commented on #80
From some quick googling it looks like there are some utilities out there for Istanbul, which is the coverage utility that this addon uses.

To get combined coverage, you'll likely have to run an additional command on the results of each partition.

[2016-11-30 14:13] topaxi commented on #81
My builds stopped working with the same behaviour, it seemed to appear randomly. I guess this might be a dependency issue?

[2016-11-30 15:19] rwjblue commented on #80
ya, that makes sense

We should track down the required commands / tools and figure out how to make them play nicely together.  We have a few options there:

* Make ember-cli-code-coverage detect ember-exam and do the right thing automatically
* Make ember-exam detect ember-cli-code-coverage and do something...
* Document in both the ember-exam and ember-cli-code-coverage README's what the solutio

[2016-11-30 16:32] trentmwillis commented on #80
There is an open issue on ember-exam to explore this as well: https://github.com/trentmwillis/ember-exam/issues/18. There's not much there, but a conversation with @stefanpenner about that issue led to this RFC: https://github.com/ember-cli/rfcs/pull/57.

It is definitely possible to coalesce multiple coverage reports together, but we want to make sure we find a good interface to support this acro

[2016-11-30 18:05] kategengler commented on #80
The trick is that each addon needs knowledge from the other. Ember-exam would need to know that coverage was being run and what to call to combine reports OR this addon would need to know that the test suite had been split and be configured to write coverage to different locations for each run.

An early plan that I think could work:
- Add a command to ember-cli-code-coverage that combines several

[2016-11-30 18:29] rox163 commented on #81
I've seen this as well but only with addons that have acceptance tests. If I skip the acceptance test then the run completes and reports coverage.

[2016-11-30 21:08] hoboman313 commented on #81
@rox163 Thank you! That was causing the freezing for me too.

[2016-12-01 04:53] trentmwillis commented on #80
I don't think this addon needs to know about ember-exam at all. Maybe I'm missing part of the picture, but I think it should be sufficient to just do the following:

1. Expose an option to let ember-cli-code-coverage know there will be more than one coverage report.
2. When `POST`ing to `/write-coverage`, include identifiable information in the payload, such as current test url and maybe browser U

[2016-12-01 05:26] kategengler commented on #80
I had wild misconceptions about how ember-exam worked; your plan sounds doable.

[2016-12-01 06:14] jdenly commented on #80
I've just been working on this as part of trying to speed up our product build time, should have a PR soon for a merge-coverage command that creates a consolidated report - just needs a bit of clean up.

[2016-12-02 03:05] jdenly commented on #80
There is a PR available here:

https://github.com/kategengler/ember-cli-code-coverage/pull/83

[2016-12-02 07:13] topaxi commented on #81
Are you by any chance using `ember-cli-mirage`?

I noticed that the `request.onload` callback never got called. This might be caused by pretenderjs (even though the request was made and I had a passthrough rule in `mirage/config.js`).

In my codebase in `tests/helpers/destroy-app.js` there was a missing line `server.shutdown();`.

Here the full file which solved the issue for me:

`tests/helpers/d

[2016-12-02 07:51] hoboman313 commented on #81
That was exactly my problem too. Thank you. :astonished:

[2016-12-05 23:54] akhileshk opened #84 "What is the best way to wdio or selenium test on the instrumented code and the coveragae result"
Scenario : We are trying to deploy a instrumented ember App on a internal server and run test using wdio test runner or any other  test framework(Pytest). At the end of the test we will download the coverage result.

Our observation: What we have noticed that Unless we instrument and deploy the code on the same server where Istanbul middleware is running, we are not able to get the coverage inform

[2016-12-06 15:34] sfbwalder commented on #66
Resolved by fix https://github.com/curit/ember-cli-yadda/pull/34

[2016-12-06 15:34] #66 closed

[2016-12-06 19:37] jbelmont opened #85 "config/coverage options for excludes don't seem to work"
I have this version of ember-cli-code-coverage in my package.json "ember-cli-code-coverage": "0.3.8". Also I have a coverage file in this root path in my ember app.

config/coverage.js
[code]

I have the following folder structure
➜  ember-webrtc-devices git:(master) tree -d -L 3 -I 'node_modules|bower_components'
.
├── addon
│   ├── components
│   │   └── device-selection
│   └── mixins
├── app
│

[2016-12-08 03:27] Nuzsk opened #86 "Support in-repo engine coverage"
Ember-engines allow use [in-repo style](https://github.com/ember-engines/ember-engines#creating-engines) of engine location, [in this case](https://github.com/ember-engines/ember-engines#unitintegration-testing-for-in-repo-engines) testing results of main app includes testing results of engine. But code coverage output, unlike tap file, not includes coverage results for engine.

Steps to reproduce

[2016-12-08 03:40] offirgolan commented on #75
Bump. I've been running into the same issue:

[code]

[2016-12-08 13:05] rwwagner90 commented on #75
@offirgolan are you using something that redefines the global `require`?

[2016-12-09 02:21] offirgolan commented on #75
When running what @rwjblue suggested

I get the same error. `require.entries` is undefined. I do not believe I have any package that would redefine the global require either...

[2016-12-12 22:54] adhamhf commented on #39
"ember-cli": "2.8.0",
  "ember-cli-code-coverage": "^0.3.6",
  `COVERAGE=true ember test --launch phantomjs`  fails
  `COVERAGE=true ember test --server` works

[2016-12-13 19:54] andrew-zenefits commented on #39
"ember-cli": 2.4.3,
"ember-cli-code-coverage": "^0.3.8",

`COVERAGE=true ember t` fails
`COVERAGE=true ember t -s` works (meaning it will update the `/coverage/*` files

[2016-12-20 01:38] ethanrubio commented on #39
Same issue here on circleci. It works locally, however.

"ember-cli": "2.10.0",
"ember-cli-code-coverage": "^0.3.8",

`COVERAGE=true ember test` fails

[2016-12-22 19:06] wagenet commented on #39
Appears to be fixed by #82

[2016-12-22 19:29] kellyselden commented on #39
Just tried it out. Works for me!

[2016-12-22 19:29] #39 closed

[2016-12-22 19:31] kategengler commented on #55
I wonder if this isn't about coffeescript but is actually another manifestation of this bug https://github.com/kategengler/ember-cli-code-coverage/issues/20

That issue was closed in version 0.3.6, could you see if using a newer version fixes this issue for you?

[2016-12-22 19:41] kategengler commented on #57
This should be fixed by #82

[2016-12-22 19:48] kategengler commented on #84
I'm afraid this is outside the realm of possibility for this addon. This addon provides code coverage for running ember tests through ember-cli, and requires many hooks provided by ember-cli to work.

[2016-12-22 19:48] #84 closed

[2016-12-22 21:45] luketheobscure commented on #55
I updated that demo app to 0.3.9, and it didn't fix the problem.

[2016-12-24 08:52] mdarmetko commented on #81
Still having this issue with version 0.3.6 even with the above solution. Reverting to 0.2.2 fixed it for me.

[2016-12-27 18:25] hoboman313 commented on #81
The issue is back for me with 0.3.9 but 0.3.8 is still good

[2017-01-01 16:53] kellyselden opened #88 "CI hangs when updating 0.3.8 => 0.3.9"
I just upgraded to 0.3.8 successfully using `useBabelInstrumenter`. Now trying to get to the latest version, but it hangs CI.

https://travis-ci.org/kellyselden/package-hint-historic-resolver/builds/188068217
https://github.com/kellyselden/package-hint-historic-resolver/pull/300/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R34

[2017-01-03 16:14] omarkohl commented on #88
Same here.

It can also be reproduced locally (not just CI) but it only happens when using PhantomJS (e.g. with Chrome it runs fine).

In our case it hangs while running JSLint.

The following two examples run fine:

* COVERAGE=true ember test --launch Chromium
* ember test --launch PhantomJS

This one hangs:

* COVERAGE=true ember test --launch PhantomJS

[2017-01-03 19:08] SergeAstapov commented on #88
Have the same problem.
#87 works for me with PhantomJS

[2017-01-05 19:15] hoboman313 commented on #88
I reported this earlier with #81
I found no solution but to downgrade back to 0.38

[2017-01-05 21:58] kategengler commented on #80
Should be solved by #83

[2017-01-05 21:58] #80 closed

[2017-01-05 21:58] kategengler commented on #88
Hopefully solved by #87

[2017-01-05 22:18] kategengler commented on #88
#87 has been released in 0.3.10

[2017-01-05 22:18] kategengler commented on #81
#87 has been released in 0.3.10

[2017-01-05 23:08] kellyselden commented on #88
I'm now seeing `Cannot find module 'rsvp'` with 0.3.10

https://travis-ci.org/kellyselden/package-hint-historic-resolver/jobs/189337365#L651

[2017-01-06 04:26] rwwagner90 opened #89 "'ember test' terminated by signal SIGSEGV (Address boundary error)"
After updating to 0.3.10, I get `'ember test' terminated by signal SIGSEGV (Address boundary error)`

Any ideas?

[2017-01-07 00:05] ming-codes commented on #88
I'm having the same problem with `0.3.10`.

[2017-01-07 00:59] ming-codes commented on #88
@kategengler Submitted PR to fix this issue

[2017-01-07 01:15] ming-codes commented on #81
Duplicates with #88?

[2017-01-07 01:19] ming-codes commented on #77
I had a similar issue with models not included in coverage report. Could be caused by process terminating before async file write completes. `0.3.10` should have it fixed

[2017-01-07 01:20] ming-codes commented on #56
Possibly related to #77

Try `0.3.10`?

[2017-01-09 21:42] fushi opened #91 "Include support in options for paths/files to include"
This is actually a more generic way to solve #86 - Allow us to add paths to include, rather than just paths to exclude.

[2017-01-09 22:08] kategengler commented on #91
I think you could make this work with a change here https://github.com/kategengler/ember-cli-code-coverage/blob/master/index.js#L90 to check for the file inside engines in addition to inside app. I'm not sure how engines end up looking in the app tree though.  That code's purpose is to make sure the file isn't from an addon's app/ that gets merged in.

[2017-01-10 01:01] hoboman313 commented on #81
I opened this ticket over a month before 88.
Anyways, the hanging issue is fixed for me after upgrading to 0.3.10 ( and previously having applied topaxi's fix ).

[2017-01-10 01:01] #81 closed

[2017-01-10 05:05] mdarmetko commented on #81
Was still seeing this in 0.3.10. I'm using mostly default generated tests with ember 2.10 and ember-cli-mirage. It must have been a problem with a mirage instance never getting shutdown and hanging around.  Resolved it by adding `if(server !== undefined) { server.shutdown(); }` to beforeEach and afterEach in each acceptance test file. As in,
[code]
Hope this helps someone else having the same prob

[2017-01-17 22:15] samtsai commented on #88
https://github.com/kategengler/ember-cli-code-coverage/issues/88#issuecomment-270784595 is coming from changes introduced here:
https://github.com/kategengler/ember-cli-code-coverage/pull/83

I don't know of this has to do with different versions of node/npm.

I'm able to reproduce with:
"node":"0.12.9",
"npm":"2.14.9"

[2017-01-19 18:57] samtsai commented on #88
@kellyselden seems like we squashed this one with `0.3.11` release changes, can you confirm?

[2017-01-19 23:31] kellyselden commented on #88
Confirmed with two different apps. Thanks everyone.

[2017-01-19 23:31] #88 closed

[2017-01-19 23:32] kellyselden commented on #65
This is old and doesn't seem to be an issue anymore. If anyone comes across this, please file a new issue against the most recent version.

[2017-01-19 23:32] #65 closed

[2017-01-20 17:26] pixelhandler opened #95 "Question: option to fail a build if coverage result is below a given percentage?"
Thanks so much for providing this addon? I enjoyed using blanket as well. I recall there was an option to fail a build if the coverage result was below a given value.

Does ember-cli-code-coverage have an option to fail an ember build when the coverage result is below a given percentage value?

[2017-01-20 17:44] rwjblue commented on #95
No there is nothing like that at the moment.  I'm not sure if it belongs here directly, or via another addon...

[2017-01-20 17:52] pixelhandler commented on #95
@rwjblue thank you sir!

[2017-01-20 17:52] #95 closed

[2017-01-23 15:55] omarkohl commented on #88
0.3.11 works for us as well. Thanks!

[2017-01-27 18:36] efx opened #96 "readable/accurate template reports with Glimmer2?"
This is on 0.3.11
I just updated our application to run ember@2.11, ran coverage but find the reports for templates unreadable:
<img width="1401" alt="screen shot 2017-01-27 at 1 31 59 pm" src="https://cloud.githubusercontent.com/assets/472721/22382754/03fb210a-e495-11e6-965d-6b1f3c126725.png">
is there a way to get this report more readable? It seems to be considering the entire file covered desp

[2017-01-31 23:25] a15n commented on #75
I have made a PR to unblock those who are facing this issue. It's a simple `require.entries || {}` fix.

This doesn't fix any underlying issues with conflicting versions of require but it unblocks those who have conflicting versions.

[2017-02-03 11:52] dennismende opened #98 "Addon doesn't work with firefox and testem"
Testem file:
`module.exports = {
  framework: 'qunit',
  test_page: 'tests/index.html?hidepassed',
  disable_watching: true,
  launch_in_ci: [
    'PhantomJS',
    'Firefox',
  ],
  launch_in_dev: [
    'PhantomJS',
    'Firefox',
  ],
};`

When I start ember testmode with `COVERAGE=true ember test` then all tests get executed with phantom but then it hangs up when firefox should get started.

Wit

[2017-02-03 12:17] dennismende commented on #98
I will setup a clean install and try it out. Will share the results later today.

[2017-02-03 12:23] rwjblue commented on #98
Awesome, thank you!

[2017-02-03 13:56] dennismende commented on #98
Tried it out with a new repo and everything works fine. Could be an issue together with some other addons. I will try to find out which addon causes the issue here.

[2017-02-07 01:49] acorncom commented on #57
@stripedpumpkin Does the above PR fix your issue?

[2017-02-07 09:18] stripedpumpkin commented on #57
@acorncom Yes, it fixed it.

[2017-02-07 09:18] #57 closed

[2017-02-08 11:12] PratheepV commented on #77
I am using the master still I am facing the templates(.hbs not being covered). We are writing acceptance tests.

[2017-02-23 11:28] Turbo87 commented on #98
We've hit a similar issue in one of our client apps at @simplabs and created a slimmed down test case at https://github.com/Turbo87/__test-stall-repro

tl;dr the missing `server.shutdown()` call appears to keep the test process alive when running with `COVERAGE=true ember test`. the strange thing is that it seems to work as expected when just running `ember test` without coverage.

[2017-02-23 11:38] Turbo87 commented on #98
cc @samselikoff maybe you have a clue on what's going on and how to resolve this

[2017-02-23 15:06] #42 closed

[2017-02-23 15:18] samselikoff commented on #98
hm - is it mirage-related? `server.shutdown()` from mirage right? I don't see Mirage in use here

[2017-02-23 15:36] Turbo87 commented on #98
- https://github.com/Turbo87/__test-stall-repro/blob/master/tests/integration/services/foo-test.js#L4-L15
- https://github.com/Turbo87/__test-stall-repro/blob/master/mirage/config.js#L27

those two are the important parts

[2017-02-23 16:05] Turbo87 commented on #98
https://github.com/ember-cli/ember-cli/issues/6773 could be related too

[2017-03-09 09:03] Martodox commented on #17
@rwjblue What if you wanted to disable reporting for templates?

[2017-03-16 18:25] efx commented on #96
closing in favor of https://github.com/tildeio/glimmer/issues/353

[2017-03-16 18:25] #96 closed

[2017-03-17 14:21] rondale-sc opened #102 "coverage_<randomid> directories are not cleaned up after `ember coverage-merge`"

[2017-03-19 16:34] rwjblue commented on #77
https://github.com/kategengler/ember-cli-code-coverage/pull/103 adds custom instrumentation of templates, could use testing...

[2017-03-19 16:35] rwjblue commented on #44
I generally just `open coverage/index.html` and navigate in chrome via `file://`...

[2017-03-19 16:35] #44 closed

[2017-03-22 17:25] anubhawshrivastav opened #104 "Produce coverage report if environment variable COVERAGE is set to true before running `ember test`"
If I set environment variable COVERAGE=true, I should be able to run `ember test` and get code-coverage output. That is not happening.

These are the steps to reproduce this issue:
`COVERAGE=true`
`echo $COVERAGE`

`ember test`

[2017-03-22 19:31] rwjblue commented on #104
Do you have ember-cli-code-coverage listed as a dependency or devDependency of your project?

Can you create a demo repo that we can use to help triage?  Anecdotally, this is working (I just tested on a fresh project)...

[2017-03-22 19:36] anubhawshrivastav commented on #104
Interesting! I'm trying to make this run on Jenkins. I set COVERAGE env variable to true, and then in build script, try to run `ember test`. I do have `ember-cli-code-coverage` in `devDependencies`.

Just to be clear, with COVERAGE env var set to true, you were able to get code-coverage report by running `ember test` command (not specifying COVERAGE=true in it), right?

[2017-03-22 20:01] anubhawshrivastav commented on #104
tl;dr RESOLVED!

There were issues with the Jenkins build environment, it was using manta, and so env var had to be set in a "special" way. I was able to do it, and it is now working on Jenkins. Thanks!!

[2017-03-22 20:01] #104 closed

[2017-03-25 17:49] kellyselden opened #105 "add parallel and coverage-merge example to README"
I haven't figured out how to do it yet, otherwise I would. It's on my todo, someone else feel free to take up this task.

[2017-03-25 18:24] rwjblue commented on #105
* Add `parallel: true` to `config/coverage.js`.
* Run `ember exam --split=8 --parallel`
* Run `ember coverage-merge`

Also, note https://github.com/kategengler/ember-cli-code-coverage/issues/102, we need to cleanup the extraneous coverage directories after running `ember coverage-merge`.

[2017-03-25 18:26] kellyselden commented on #105
Hmm I believe my use case may be more difficult then. I would have 8 Travis jobs in your scenario. Is it still possible? It's almost like the coverge reporting API would need to understand the reports are coming in pieces.

[2017-04-06 08:41] JennieJi opened #106 "Cannot parse async/await"

[2017-04-06 09:17] #106 closed

[2017-04-19 20:45] sukima commented on #106
**No! why was this closed?!**

This is breaking our builds!

[code]

[2017-04-19 21:02] sukima opened #108 "Parsing async/await crashes"
This appears related to a old version of istanbul: https://github.com/gotwarlost/istanbul/issues/733

[code]

[2017-04-19 21:03] sukima commented on #108
This is a duplicate of #106 simply because others cannot reopen issues.

[2017-04-19 21:41] rwjblue commented on #108
Did you try doing what the error message instructs you to do?

[2017-04-20 02:39] JennieJi commented on #106
@sukima I figured out that settings are needed to support this after read documents carefully.
That is, add **coverage.js** to **/config** folder, and following is the content of it:
[code]

[2017-04-20 03:02] rwjblue commented on #106
FWIW, the error message says **exactly** that 😸

[2017-04-21 13:30] sukima commented on #106
So I didn't do that because I didn't care about instrumentation of the error. Isn't that option for better error messages? I'm confused.

Cognitive confusion: _Try setting useBabelInstrumenter to true._ does not offer any clue that it enables async await (or enables anything related to the program being stupid) If it was called `enableES7` or `enableNotStupidMode` I think I would have understood.

[2017-04-21 13:38] sukima commented on #108
Yes, This does not work. ember-ajax (included by ember by default) crashes:

[code]

[2017-04-21 13:41] rwjblue commented on #106
LOL, I agree that the error message could be better, would you mind submitting a pull request to tweak it?

[2017-04-21 13:49] rwjblue commented on #108
The option is for `config/coverage.js`, it has nothing to do with your applications babel configuration itself.

[2017-04-21 14:03] sukima commented on #108
![Doh'](http://mets360.com/wp-content/uploads/2015/08/homer-doh.png)

[2017-04-21 14:03] #108 closed

[2017-04-24 00:20] denchen opened #110 "Coverage drop in ember-cli 2.12.2"
First off, I don't know if this is related to #77 or not. Basically, template files used to be counted, and now they're not.

I was on `ember-cli@2.7.3` and just upgraded to 2.12.2. I also went from 0.2.2 of this library to 0.3.12. Afterwards, I  saw  a sharp drop in coverage. For instance, lines went from 9219/10506 down to 1190/2353. After a cursory bit of digging, I realized it was no longer co

[2017-04-24 00:36] rwjblue commented on #110
Yes, its related to updating to ember 2.10+ (the templates used to be JavaScript but now they are JSON). https://github.com/kategengler/ember-cli-code-coverage/pull/103 Is attempting to fix this.

[2017-04-25 16:19] paulcwatts opened #111 "Plugin fails with ember-cli 2.13 and useBabelInstrumenter: true"
I assume this is known, but for tracking purposes:

[code]

I'm pretty green with Babel and Babel plugins, but if pointed in the right direction I can take a look at making this work!

[2017-04-25 20:10] job13er commented on #75
In case anyone else is still having an issue with an overwritten `require` and would like help tracking it down: I added the following to my `tests/index.html`

[code]
And then ran my tests in the browser (I used `ember s -e test` but you could use `ember test --server` as well). The second `debugger` that was hit was my culprit.

Still tracking down exactly where the file `browserfied-highlight.j

[2017-04-25 21:34] job13er commented on #75
I opened https://github.com/ef4/ember-code-snippet/issues/34 to bring it to the attention of the authors of `ember-code-snippet`. In the meantime, I think I'll use a fork of that project that doesn't use `broccoli-browserify`

[2017-04-26 07:58] denchen commented on #110
Thanks for the response. In your estimation, is adding template instrumentation something that will take days, weeks, or months to accomplish? Or another way of puttng it, how high or low is this on your priority list? Thanks again!

[2017-04-27 11:52] job13er commented on #75
As mentioned above, this has to do with other addons (in our case `brocolli-browserify`) overwriting `window.require`. I don't think it's actually anything this project wants to do anything about.  @rox163 You can probably close this guy.

[2017-04-27 14:15] ssylvia opened #112 "Use .istanbul.yml to configure Istanbul"
Istanbul allows you to add a `.istanbul.yml` file to the root directory of you app to configure Istanbul: https://github.com/gotwarlost/istanbul#configuring.

Can this addon use this in addition to the `config/coverage.js` file?

[2017-04-27 14:16] #75 closed

[2017-04-27 14:18] ssylvia opened #113 "Add "check" as a configuration option and fail "ember test" if coverage fall below threshold"
[code]

[2017-05-01 20:20] ming-codes commented on #111
Ember CLI 2.13 moved to babel 6. Babel plugins works differently in babel 6 and I see `ember-cli-code-coverage` does uses a babel plugin for transformation. Perhaps this is the reason?

[2017-05-02 17:52] rwjblue commented on #111
Thanks for reporting!  The issue lies with the fact that we provide `babel` options from the host app into our custom babel instrumenter (which is based on babel-core@5). Using babel-core@5 as the instrumenter itself is totally fine (though we should also update to babel@6), but passing babel@6 plugins to babel@5 is causing the reported error.

[2017-05-11 09:00] sergafts opened #114 "Running with `COVERAGE=true` generates additional tests that fail"
When running `ember test` I see 102 tests, all passing. However, when running tests with `COVERAGE=true ember test` I see 2 additional tests being run and the first of those fails.
Output:

[code]

The message seems quite cryptic, I could not find why this happens. Could be a misconfiguration on my end, however I don't know how to debug this. Any ideas?

[2017-05-11 09:02] sergafts commented on #114
I am using `ember-cli@2.12.0` , `ember-cli-code-coverage@0.3.12`

[2017-05-11 10:05] sergafts commented on #114
False positive, issue was on my part. Sorry for the fuss.

[2017-05-11 10:05] #114 closed

[2017-05-12 17:41] paulcwatts commented on #111
I've been working on fixing this here: https://github.com/kategengler/ember-cli-code-coverage/pull/115. This updates babel-core to 6.x, which seems to make it work using the new ember-cli. However, I don't know how this will affect older versions not upgraded to the latest ember-cli/babel@6.

I still have to have to some real-world testing.

[2017-05-18 12:34] Turbo87 commented on #111
@rwjblue can we use https://github.com/istanbuljs/babel-plugin-istanbul instead?

[2017-05-18 12:41] Turbo87 commented on #2
@kategengler https://github.com/TryGhost/Ghost-Admin is using `ember-cli-mocha` if that is still relevant

[2017-05-18 13:58] rwjblue commented on #111
Ya, possibly. I'd have to check, but it seems reasonable.

[2017-05-18 19:53] paulcwatts commented on #111
That definitely looks promising. I will look to see how I can integrate that.

[2017-05-26 02:37] job13er opened #116 "No coverage information for files in `addon-test-support/`"
I have an addon whose primary purpose is proving test helpers for use in other addons: [`ember-test-utils`](https://github.com/ciena-blueplanet/ember-test-utils). After [a suggestion from @rwjblue](https://github.com/ciena-blueplanet/ember-test-utils/issues/40) we put that code in `addon-test-support/`. I've now configured `ember-cli-code-coverage` to see if I can make sure we're exercising all th

[2017-05-31 10:04] marcoow opened #117 "Rename this to ember-cli-code-covfefe?"
obviously

[2017-05-31 16:32] kellyselden commented on #117
"My name is Kelly Selden, and I approve this message." Paid for by "Kelly Selden for a better tomorrowfefe".

[2017-06-01 21:18] superthing001 commented on #114
@sergafts i have the same issue, not sure what i'm doing wrong.
could you mention what was the problem and how you solved?

[2017-06-06 09:34] sergafts commented on #114
@superthing001 My issue was totally irrelevant, and quite cryptic. What helped, though, was gradually deactivating tests & running them one by one. In my case it was an asynchronous event that during testing caused issues.

[2017-06-07 18:03] luketheobscure commented on #55
Updated bug demo to use 0.3.12, still seeing the same issue. I would be happy to throw a little bit of time at this if you have any feedback on where to start.

[2017-06-14 17:49] turboladen commented on #55
+1

[2017-06-14 18:21] #111 closed

[2017-06-14 18:40] thiagofesta opened #120 "Coverage for in-repo-addons not working"
You can reproduce the problem using this repo: https://github.com/thiagofesta/test-coverage
[code]

It gives me this error:
[code]

I also had another problem earlier, where it complained about `isEmberCLIAddon` method not defined. What i did, was to create that method on the in repo addon and return false. But by default it is not generated by ember cli, maybe you could assume if it is undefined,

[2017-06-14 18:42] rwjblue commented on #120
Thank you reporting! I'll try to dig into the demo soon and see how hard it will be to fix...

[2017-06-16 21:43] mrunalimohane opened #122 "Can we merge code coverage report generated from different test type say unit and functional?"

[2017-06-16 21:53] rwjblue commented on #122
Yep! It is documented in the README.

[2017-06-16 21:53] #122 closed

[2017-06-19 05:14] jleja opened #123 "Enabling coverage with enabled Babel plugin fails"
I have a [demo repo](https://github.com/jleja/testApp) set up to illustrate the issue.  When using a Babel plugin, such as `babel-plugin-transform-object-rest-spread`, building the project fails with the error `TypeError: The plugin "transform-object-rest-spread" didn't export a Plugin instance
`, preventing the build from succeeding.

Steps taken to build the demo repo:
- Create new Ember 2.13 pr

[2017-06-19 10:25] anehx commented on #123
I got the same with `babel-plugin-transform-decorators-legacy` and `babel-plugin-transform-async-generator-functions`.. I think this appears for every babel plugin.

[2017-06-19 11:01] anehx commented on #123
Fixed this by depending on the current master branch of this addon which fixed this issue...

[2017-06-19 12:49] anehx opened #124 "Export statements not covered"
Hello

This addon report some lines and branches as not covered, which should definitely be covered. It reports multiple `export default Ember.Component.extend({ ... })` or `export default Ember.Controller.extend({ ... })` as not covered branches and sometimes even as not covered line (see screenshot)!

![image](https://user-images.githubusercontent.com/6150577/27285819-3401ac32-54fe-11e7-9d2f-8dc

[2017-06-19 12:54] jleja commented on #123
In my demo branch, checking out `master` does indeed fix it.  In the application I'm working on, doing that starts surfacing `[BABEL] app/templates/testing.hbs: Using removed Babel 5 option: base.optional - Put the specific transforms you want in the 'plugins' option`.  Looks like another dependency is the issue, shall look further into it.  Thanks!

[2017-06-19 13:07] jleja commented on #123
That wasn't too hard to track down.  In my application, I had Babel configured as:

[code]

Doesn't like the optional setting, so I'll just move that to a plugin.  Closing this issue down!

[2017-06-19 13:07] #123 closed

[2017-06-19 13:33] anehx commented on #124
I found a similar issue [here](https://github.com/jmcriffey/babel-istanbul/issues/63) so I tried locking babel-core to version 6.7.4 but it did not do anything..

[2017-06-19 13:43] rwjblue commented on #123
`optional` isn't valid with babel@6, see readme of https://github.com/rwjblue/ember-computed-decorators#babel-6x for details on getting decorators to work

[2017-06-19 14:40] anehx commented on #124
It seems like the problem is `Controller.extend({ ... })` since doing the export at the end of the file did not change the coverage:

[code]

[2017-06-19 15:20] mrunalimohane commented on #122
Documentation talks about using with ember exam . What if i do not use ember exam for execution  and run  unit test with coverage true and functional test with coverage true. when i merge the above two coverage file , it creates an coverage folder but the merge is not happening..

[2017-06-19 15:32] rwjblue commented on #122
As mentioned in the README, the `ember-exam` was just an example. If you have two coverage folders that match your configured `coverageFolder` path (e.g. `coverage_1` and `coverage_2`), and run `ember coverage-merge` it will merge the two into `coverage` folder.

[2017-06-19 15:32] rwjblue commented on #122
Would you mind beefing up the documentation in the README once you get it going?

[2017-06-19 15:43] mrunalimohane commented on #122
sure. So i did exactly as you mentioned above when i run the ember coverage-merge , it created coverage folder but the it always creates
`{
"total":{"lines":{"total":0,"covered":0,"skipped":0,"pct":100},"statements":{"total":0,"covered":0,"skipped":0,"pct":100},"functions":{"total":0,"covered":0,"skipped":0,"pct":100},"branches":{"total":0,"covered":0,"skipped":0,"pct":100},"linesCovered":{}}}
`

[2017-06-19 16:31] jleja commented on #123
Thanks @rwjblue!

[2017-06-23 18:48] thiagofesta commented on #120
@rwjblue any updates on this one?

[2017-06-26 14:06] job13er commented on #95
@pixelhandler just as an FYI: [pr-bumper](https://github.com/ciena-blueplanet/pr-bumper) has a mechanism for comparing the current coverage against a saved baseline in `package.json` which will then be updated when the PR is merged. The `pr-bumper check-coverage` command will fail if the coverage dropped, so that might help.

[2017-06-28 07:51] Turbo87 opened #125 "TypeError: Cannot read property 'push' of undefined"
[code]

[code]

`ember-cli-build.js`:

[code]

Please let me know if you need more information.

[2017-07-05 12:00] Turbo87 commented on #125
looks like the problem was that we were using `ember-cli@2.12`, with `ember-cli@2.13` everything works as expected. this compat table should probably be mentioned in the README.

[2017-07-07 18:21] lucywyman opened #128 "SyntaxError: Use of reserved word 'import'"
My tests run fine without coverage, but when I run `ember exam --split=48 --parallel` all tests fail with the error:
[code]

I have ember-cli-code-coverage configured to work with parallel tests, and my setup *was* working about a month ago. I'm not sure what could have changed to cause this? I'm working on a fairly big project and there may be code changes I'm not aware of, but I asked coworkers

[2017-07-21 14:17] tonyxbrown commented on #102
You can remove from the command line 'rm -rf ./coverage_*' or include in package.json scripts.

Ex.
"coverage": "COVERAGE=true npm test && ember coverage-merge && rm -rf ./coverage_*",

Then 'npm run coverage' will run your tests and coverage, merge them into the coverage folder, and remove the extra coverage_<randomid> files.

[2017-07-30 01:45] les2 opened #131 "useBabelInstrumenter:true does not work in ember 2.11"
I'm attempting to use async-await in ember 2.11 *with* code coverage enabled.

- the app will work fine
- tests work fine without coverage (`ember test` will succeed)

But `ember-cli-code-coverage` goes berserk:

[code]

Running tests with coverage (`COVERAGE=true ember test`) results hundreds of errors like:

[code]

for every file.

[code]

[code]

[2017-07-30 01:47] kategengler commented on #131
Is the info in this issue (https://github.com/kategengler/ember-cli-code-coverage/issues/123) helpful?

[2017-08-01 19:49] AlekzZz opened #132 "Doesn't work with babel sourceMaps"
If you enable babel sourceMaps in your ember-cli-build.js and run "COVERAGE=true ember serve/test" you get bunch of errors:

`Unable to cover: app/app.js . Newer JS features may need Babel instumentation to work. Try setting useBabelInstrumenter to true in your config/coverage.js.
 TypeError: Cannot read property 'sections' of null
    at new SourceMapConsumer (/<app_dir>/node_modules/source-map/l

[2017-08-04 08:25] alvinvogelzang commented on #128
Same issue here

[2017-08-08 18:52] GCheung55 commented on #120
PR #107 tried to address this but there are test errors.

[2017-08-10 23:02] kellyselden opened #133 "Issues with ember-cli-htmlbars-inline-precompile 1.0"
Context https://github.com/ember-cli/ember-cli-htmlbars-inline-precompile/issues/90#issuecomment-321696056

[code]

[2017-08-11 20:24] akatz commented on #128
I can confirm this is broken on the latest.
The working version emits code like this:
[code]

and the broken version:
[code]

it looks like the latest version drops the definition and only emits the code defined in the module.

[2017-08-14 16:55] jbelmont opened #134 "Running Ember CLI Code Coverage in Docker container"
Currently I have the following build information

package.json dependencies:
[code]

I have ember-cli-code-coverage pinned to 0.3.11 because coverage won't build on 0.4.

I am running ember tests in  a Jenkins Build inside a docker container.

[code]

I can successfully run ember tests in the docker container but I can't seem to get code coverage to run and I am seeing this error

[code]

[2017-08-14 19:30] rwjblue commented on #134
Closing this as a duplicate of #133 (we will track progress over there)...

[2017-08-14 19:30] #134 closed

[2017-08-14 19:32] jbelmont commented on #134
@rwjblue Okay sounds good

[2017-08-16 20:53] eliasdawson opened #135 "Terminal output"
Is it possible to get terminal output of coverage results in addition to the coverage report? Something similar to what's shown on https://istanbul.js.org/.

[2017-08-18 09:22] buschtoens commented on #123
I'm trying to get coverage running with ES6 classes and static class properties, but apparently I must be doing something wrong...

[2017-08-18 11:34] buschtoens commented on #123
My bad. The config file has to be located at `tests/dummy/config/coverage.js` for addons. Seems a bit weird to me, but fits the docs (implicitly), since `configPath` is `tests/dummy/config` for addons:

However, while the plugin is now found, it can't be used:

[code]

https://travis-ci.org/buschtoens/ember-joda/jobs/265930210#L567-L578

[2017-08-18 11:36] buschtoens commented on #123
And there we have it: https://github.com/kategengler/ember-cli-code-coverage/issues/133

Sorry for the commotion. :sweat_smile:

[2017-08-22 19:13] jbelmont opened #136 "Integration Test Breakdown in ember cli code coverage"
Is there a way with Ember CLI Code Coverage or istanbul for that matter to have a Code Coverage Breakdown by Integration, Unit or Acceptance Test?

[2017-08-22 19:23] kategengler commented on #136
If you run tests with a filter, you can get coverage provided just by that type of test:

`COVERAGE=true ember test --filter 'Acceptance'` will give you just the coverage provided by your Acceptance tests, assuming they are named with `Acceptance` in the module name.

[2017-08-22 19:31] jbelmont commented on #136
I see so we are doing this in an npm script
`ember t -s --filter '!Acceptance |'` which seems to do everything but the Acceptance test.

[2017-08-22 20:06] kategengler commented on #136
Then you should be getting the coverage results provided by just those tests that ran.

[2017-08-22 20:08] jbelmont commented on #136
Yeah we are, it seems that if we want to explicity get the coverage then it should be done via the filter option, thanks @kategengler

[2017-08-22 20:08] #136 closed

[2017-08-23 01:15] alias-mac commented on #135
I believe that is the `text-summary` report.
Have you tried to set `reporters: ['text-summary']` in your `coverage.js` config file?

[2017-08-24 21:20] eliasdawson commented on #135
Ah, that worked. Apologies. I thought I tried that.

[2017-08-24 21:20] #135 closed

[2017-09-01 18:29] #77 closed

[2017-09-24 21:43] rwwagner90 commented on #133
@kellyselden is this something we need to fix here or in ember-cli-htmlbars-inline-precompile?

[2017-09-24 21:50] kellyselden commented on #133
Here I believe https://github.com/ember-cli/ember-cli-htmlbars-inline-precompile/issues/90#issuecomment-321696056

[2017-09-24 21:52] rwwagner90 commented on #133
@kellyselden ah I see. @rwjblue how do we ensure transpilation does not occur here?

[2017-09-27 12:02] #117 closed

[2017-09-27 12:08] rwwagner90 commented on #55
@luketheobscure without knowing the exact issue, I think the `before` or `after` of ember-cli-coffeescript needs to be tweaked to allow the addons to run in the proper order https://github.com/kimroen/ember-cli-coffeescript/blob/master/package.json#L74-L81

[2017-09-30 12:45] rwwagner90 commented on #128
@lucywyman @alvinvogelzang @akatz can you guys please do me a favor and check what the latest version of ember-cli-code-coverage is that works correctly for you? That way I can look at what has changed since then.

[2017-09-30 12:46] rwwagner90 commented on #56
Closing due to lack of response from @epchristi. If you are still having problems on the latest version, please feel free to open a new issue!

[2017-09-30 12:46] #56 closed

[2017-09-30 12:48] rwwagner90 commented on #33
`COVERAGE=true ember test` definitely works. It is not like blanket was where you would add `&coverage` to the url. Closing this, but feel free to file another issue if you are still having problems!

[2017-09-30 12:48] #33 closed

[2017-09-30 12:49] rwwagner90 commented on #23
@jonathansamines sorry for the delay in responding, but could you please elaborate 😄

[2017-09-30 12:50] rwwagner90 commented on #41
@alexlafroscia still having this issue?

[2017-09-30 13:01] rwjblue commented on #128
The underlying ember-cli version is important here also.

[2017-09-30 13:26] rwwagner90 commented on #131
Hi @les2 fancy seeing you here 😄 . Have you taken a look at #123 as @kategengler suggested? I am curious if any of the things done there help this situation.

[2017-09-30 13:30] rwwagner90 commented on #125
@Turbo87 does only switching the `ember-cli` version break it? I know there are issues with several of the addons ember-cli uses, so curious if it was just the base package or not.

Also, do you have `useBabelInstrumenter: true` and shouldn't your babel config be `babel` not `babel6`?

[2017-09-30 13:43] Turbo87 commented on #125
if I remember correctly that was the single change that fixed it

yes, I think we had that set

it depends... 😉

[2017-09-30 14:17] rwwagner90 commented on #125
@Turbo87 well if everything is working okay now, and you do not have a way to reproduce, I am inclined to close and wait and see if any other issues occur. Thoughts?

[2017-09-30 14:18] rwwagner90 commented on #124
@anehx is this still an issue and do you have `useBabelInstrumenter: true`?

[2017-09-30 14:19] rwwagner90 commented on #112
@ssylvia what would be the advantages? Does it allow more configuration of some sort? Curious what the use case is.

[2017-09-30 14:20] Turbo87 commented on #125
I think it should be reproducible if you use the same dependency versions. The main thing I'm proposing in this issue is just to add a compatibility table to the README when there are any obvious incompatibilities.

[2017-09-30 14:24] rwwagner90 commented on #125
@Turbo87 so you think a new app on cli 2.12 and the latest ember-cli-code-coverage should cause the issue to occur? I would think we would also need to know the content of your `geometry.js` file.

[2017-09-30 14:55] Turbo87 commented on #125
as you can see above we're using the `transform-object-rest-spread` plugin and that files uses that (e.g. `let x = { ...y, z };`)

[2017-09-30 16:28] lucywyman commented on #128
@rwwagner90 the last version I have working is 0.3.12, and ember-cli version 2.12.2

[2017-10-01 14:04] rwwagner90 commented on #128
@lucywyman would you be able to provide a reproduction repo? All of my addons are on latest ember-cli and latest ember-cli-code-coverage and all my tests have been running smoothly. I'm curious if perhaps the versions of ember-cli and ember-cli-code-coverage you are attempting to use together are just not compatible for some reason.

[2017-10-02 00:11] jonathansamines commented on #23
@rwwagner90 I mean, something like instanbul [check coverage](https://github.com/istanbuljs/nyc#checking-coverage) functionality, where if your current coverage doesn't comply with the expected coverage your build breaks :)

[2017-10-02 11:59] ssylvia commented on #112
Would allow you to share a config with non-ember apps. Also, I'm still hoping to use the fail test in coverage falls below a specified threshold: https://github.com/kategengler/ember-cli-code-coverage/issues/113

[2017-10-02 12:00] rwwagner90 commented on #112
@ssylvia ah I see. Would you be interested in helping implement this?

[2017-10-02 12:07] ssylvia commented on #112
@rwwagner90 Can't do it immediately, but may be able to look at it in a few weeks or so.

[2017-10-02 16:07] rwjblue commented on #133
Will be fixed by https://github.com/kategengler/ember-cli-code-coverage/pull/141.

[2017-10-02 16:09] rwjblue commented on #120
https://github.com/kategengler/ember-cli-code-coverage/pull/141 should make this a bit easier to do, but is still somewhat WIP.  I believe that the changes @GCheung55 submitted in #107 will come in handy in that branch...

[2017-10-27 10:14] anehx commented on #124
@rwwagner90 Yes, this is sadly still an issue, and yes have `useBabelInstrumenter: true`.

[2017-10-29 21:22] Leooo commented on #132
Has the same problem with:
[code]

[2017-10-29 21:41] Leooo commented on #131
I'm having the same problem with the following option in ember-cli-build:

[code]

Can't move this option in a plugin as #123 suggested, so stuck on this.

[2017-10-30 10:39] rwwagner90 commented on #131
@Leooo what version of ember-cli-babel are you on in your project?

[2017-10-30 10:48] Leooo commented on #131
@rwwagner90 6.8.2

[2017-10-30 15:19] Leooo opened #143 "Documentation for use with Travis"
Even before considering partitions and ember-exam, could someone explain how things are supposed to work with travis CI, outside of the `COVERAGE=true ember test` line in `.travis.yml`? Few questions I have, probably naive, are:
* Is the `coverage` folder supposed to be created in the repo after the tests run? (for now I've added the folder in .gitignore to not pollute it from local env.)
* Are we

[2017-10-30 20:27] efx commented on #131
Also seeing this in an app running ember-cli-code-coverage@0.4.2 with following ember-cli-build.js:
[code]
My `config/coverage.js`:
[code]
[code]

[2017-10-30 21:29] efx commented on #143
When you run COVERAGE=true ember test, it should generate the `coverage` folder. The `lcov.info` file in there has the report. You can use another tool to upload to a service or parse it yourself.
Here is an example `.travis.yml` snippet from my project:
[code]
See https://github.com/nickmerwin/node-coveralls#usage for details if you want to use coveralls.

[2017-10-30 21:36] Leooo commented on #143
yes thanks for details! Closing now, hope it will help others

[2017-10-30 21:36] #143 closed

[2017-11-03 17:52] alvincrespo commented on #131
I'm also running into this issue as well. The process also doesn't quit, it gets stuck.

**config/coverage.js**

[code]

**package.json**

[code]

**ember-cli-build.js**

[code]

[2017-11-03 18:02] alvincrespo commented on #131
I created an example repo that showcases this issue:

https://github.com/alvincrespo/ember-cli-code-coverage--babel-instrumentation-error

[2017-11-03 18:04] alvincrespo commented on #131
I'd like to note, that if there is no `config/coverage.js` we get:

![](https://ac-screenshots.s3.amazonaws.com/1._alvincrespoAlvins-MacBook-Pro_Desktopcoverage-test_zsh_2017-11-03_14-03-28.jpg)

But if we include the `config/coverage.js` with `useBabelInstrumenter` set to true, we get:

![](https://ac-screenshots.s3.amazonaws.com/1._COVERAGEtrue_ember_t_node_2017-11-03_14-03-53.jpg)

[2017-11-03 18:22] alvincrespo commented on #131
As noted previously, this appears fixed on master?

I changed package.json from:

`"ember-cli-code-coverage": "^0.4.2",`

to:

`"ember-cli-code-coverage": "git://github.com/babel/ember-cli-babel",`

[2017-11-03 18:51] rwwagner90 commented on #131
@alvincrespo looks like you are pulling in `ember-cli-babel` instead of `ember-cli-code-coverage` there.

[2017-11-03 18:59] alvincrespo commented on #131
oops - copied the wrong line. Updated my comment above.

[2017-11-03 19:10] rwwagner90 commented on #131
@alvincrespo that's odd that it works on master. There have been no commits to master since 0.4.2 was released.

[2017-11-03 19:12] alvincrespo commented on #131
Yeah, it's super weird. I've been in the weeds for about 3 hours now. Going to rest my 👀 and :brain:

[2017-11-06 06:19] theseyi commented on #133
Wondering if there's a workaround for this issue in the interim @kategengler ?

[2017-11-06 11:52] rwwagner90 commented on #133
@theseyi I don't think there is a current workaround, but definitely going to try to prioritize the rewrite. Could probably use some help, if you are interested!

[2017-11-06 18:34] theseyi commented on #133
@rwwagner90 sure willing to help where I can. Is there any fundamental issue with progressing with #141 ?

[2017-11-06 21:27] rwwagner90 commented on #133
@theseyi it's just not done. It's an initial spike. We need to make sure we get it to the same level of functionality currently provided.

[2017-12-07 15:43] xn opened #147 "Incompatible with ember-electron"
https://github.com/felixrieseberg/ember-electron/issues/259
@anulman

There are two issues that need to be resolved to get this working.
1) ember-electron redefines `require` and thus breaks ember-cli-code-coverage.
  if ember-cli-code-coverage were to use requireModule instead of require, we could side step this. I did that here: https://github.com/xn/ember-cli-code-coverage/commit/fa901e71818fc0

[2017-12-07 16:12] anulman commented on #147
Thanks @xn. Hi @kategengler!

Was wondering if a PR enabling ember-electron support would be accepted, and if so if someone here could help coordinate as we don't know where there be dragons + are not yet familiar with e-cli-cc's guts / test suite.

The gist would be to wrap @xn's fixes linked above in checks for presence of [`process.env.EMBER_CLI_ELECTRON`](https://github.com/felixrieseberg/embe

[2017-12-10 01:50] konradjurk commented on #41
@alexlafroscia I ran into the same issue and were able to resolve it this way:

1. First change the output directory in your coverage config temporarily, just to make sure it is actually hit (`coverage.js` has to live under `configPath` from package.json).
2. Add a function to the `excludes` array that prints out the first positional argument which is the file path. This function is called for eve

[2017-12-10 14:07] rwwagner90 commented on #41
Thanks for the feedback @konradjurk! I think with this workaround, everything should be working as expected. Would you be interested in submitting a PR adding something about setup for addons to the README?

[2017-12-22 00:57] ZYMoridae opened #148 "Test resolver undefined"
Hi, I met the problem when I use this addon with ember-cli-qunit 3.1 based on ember-cli 2.12. I found that it throws the error which the resolver in the test helper is undefined. I tried to upgrade ember-cli-qunit to 4.x, but still got the same problem. However, I downgraded the ember-cli-code-coverage to 0.1.2 it works but it always generates the empty report.

[2017-12-27 22:04] isaacaskew commented on #81
@topaxi - that mirage `server.shutdown()` trick saved my ass. If you're even in the Chicago area, your drink's on me.

[2018-01-05 13:37] notmessenger opened #149 "Update the location of the configuration path in the documentation"
https://github.com/kategengler/ember-cli-code-coverage#configuration

In `0.3.12` #100 was released that changed the path of the configuration file from _config/coverage.js_ to _tests/config/coverage.js_ (https://github.com/kategengler/ember-cli-code-coverage/commit/317e7dd03240221714f7527429b68ca92d8899ce) and it remains this path in the current version of this addon - https://github.com/kategeng

[2018-01-09 14:24] kategengler commented on #149
Hi! For apps, `config/coverage.js` will still be the correct location.

#100 added support for honoring `configPath` which can be set in `package.json` for addons.

[2018-01-09 15:55] synaptiko commented on #102
Unfortunately `rm -rf` is not cross-platform solution and it would be better to avoid it anyway. Is there any reason why those folders cannot be removed by `coverage-merge` command directly? It know exactly which directories/files need to be removed.

[2018-01-22 18:44] srini88 opened #150 "1.0.0-beta.0 Coverage directory not being created after running tests"
I bumped the library to `1.0.0-beta.0` and ran `COVERAGE=true ember test`, it runs successfully without any errors (no babel issues). However, I do not see the `coverage` directory being created.

My `coverage.js` has

[code]
It is located in the path `<addon>/tests/dummy/config/coverage.js`.

I ran it on a mac and also on windows 10, the `coverage` directory does not get created.
Please let me kn

[2018-01-22 18:50] adamjmcgrath commented on #150
@srini88 what version of `ember-cli-babel` does your project have?

[2018-01-22 19:00] srini88 commented on #150
@adamjmcgrath 6.8.2

[2018-01-22 19:20] rwwagner90 commented on #150
I spoke to @srini88 the issue here is not that it doesn't work, it's that it doesn't work when you have failing tests. I wasn't aware that it generated coverage before with failing tests, but apparently it did. We probably either want to maintain that or document that it no longer works that way.

[2018-01-22 19:27] srini88 commented on #150
@rwwagner90 @adamjmcgrath  I have all passing tests now in my `<addon>` nevertheless the `coverage` directory hasn't been created. So the issue is still there.

[2018-01-22 19:42] wireframe opened #151 "1.0.0-beta.0 not instrumenting application files"
Testing out latest release 1.0.0-beta.0 and the test coverage report is reporting that only 32 lines exist in my app -- which is just a weee bit off :)

I'm using a vanilla install of ember-cli-code-coverage with no additional configuration ATM, and I'm happy to supply additional information and test various config to help identify the issue.

[2018-01-22 19:50] adamjmcgrath commented on #150
It should still generate coverage with failing tests (just successfully tested this with a new `ember-cli: 2.18.1` project and failing `util` test). @srini88 Do you have a link to the project?

[2018-01-22 20:21] adamjmcgrath commented on #151
Are you a Windows user? I suspect there may be an issue for Windows users with generating the module paths in https://github.com/kategengler/ember-cli-code-coverage/blob/master/index.js#L189

[2018-01-22 20:27] wireframe commented on #151
Nope.  macOS user, but we see the exact same coverage report when running on our CI server (CircleCI).

[2018-01-22 20:40] adamjmcgrath commented on #150
If you have any files that throw errors when they're evaluated (like an import error) the coverage result wont be posted to the test middleware.

You could try running `COVERAGE=true ember s` and debugging at this line https://github.com/kategengler/ember-cli-code-coverage/blob/master/lib/templates/test-body-footer.html#L6 in the `tests/index.html` page.

This library used to catch those errors ht

[2018-01-22 20:58] #149 closed

[2018-01-22 21:52] kategengler opened #152 "Things to address before 1.0.0 release"
- [x] Move the test figures from app/addon to a dedicated addon for testing. Be sure to remove the treeFor hook after doing so.

- [ ] Should coverage for addons be testing the % coverage of the dummy app or of the addon itself? I would think the later. (But not sure if this ever behaved this way).

- [x] I think we might want to bring back the try/catch around the require here https://github.com/

[2018-01-30 18:23] 0xadada opened #154 "fails to create `coverage` directory with `--path` flag"
If I use the `ember test` command with the `--path` flag, the addon will not produce a coverage directory or contents. In this use-case I have already produced a build, and I'm reusing that build to run tests.

e.g:
[code]

`ember-cli-code-coverage` version 0.4.2

[code]

[2018-01-30 22:14] adamjmcgrath commented on #154
The code is instrumented for coverage during the build, so you would need to do:

[code]

[2018-01-30 22:28] 0xadada commented on #154
this worked for me, i'm closing the issue.

[2018-01-30 22:28] #154 closed

[2018-01-31 00:22] Syzygy24 commented on #131
Any updates on this?

[2018-01-31 00:32] kategengler commented on #131
#141 and #145 have since been landed, which obsoleted the `useBabelInstrumenter` option

[2018-01-31 00:33] kategengler commented on #151
@wireframe Any more info here? Can you reproduce in a repo you can share?

[2018-01-31 00:34] #150 closed

[2018-01-31 04:39] rwwagner90 commented on #131
Agreed. This should be resolved. I know we are running test coverage fine again in the apps @les2 was mentioning, so we should be good here. If anyone is still experiencing issues, please let us know!

[2018-01-31 04:39] #131 closed

[2018-01-31 15:30] wireframe commented on #151
I wish I could share our app, but unfortunately, I can't. 😢

I'm guessing this isn't an issue with a vanilla new ember app, so it likely has to do with conflicts in our env.  if there's any info I can provide to help troubleshoot, I'm happy to do so (ex: package.json).  For reference, we were long time users of ember-cli-blanket which worked great and we transitioned to ember-cli-code-coverage for

[2018-01-31 16:59] kategengler commented on #151
@wireframe I imagined you wouldn't be able to, I was wondering if you could try to recreate it in a vanilla app by adding things that simulate your app until it doesn't work?

[2018-02-02 05:23] rwwagner90 commented on #120
I believe this works as of the latest beta. Can you guys try it out?
<img width="1680" alt="screen shot 2018-02-02 at 12 21 33 am" src="https://user-images.githubusercontent.com/2640861/35717770-3891a856-07af-11e8-84cd-484706837405.png">

[2018-02-02 05:32] rwwagner90 commented on #151
@wireframe do you happen to have in-repo addons in your app?

[2018-02-02 12:21] wireframe commented on #151
Correct!  We do have two or three small inrepo addons in our app. We also use pods to organize our app Incase that info is helpful.

Sent from my iPhone

[2018-02-08 02:43] rwwagner90 commented on #151
@wireframe can you please try 1.0.0-beta.2? I believe it should fix your issues.

[2018-02-08 02:44] rwwagner90 commented on #148
Hi @ZYMoridae can you please try installing ember-cli-code-coverage 1.0.0-beta.2 and see if your problem is gone?

[2018-02-08 02:45] rwwagner90 commented on #147
Hi @xn and @anulman is this still an issue if you install ember-cli-code-coverage 1.0.0-beta.2?

[2018-02-08 02:49] rwwagner90 commented on #98
@Turbo87 is this still an issue? Lots of things worked themselves out in the refactor. Can you please try 1.0.0-beta.2?

[2018-02-08 02:51] rwwagner90 commented on #91
@adamjmcgrath do we support passing includes and excludes?

[2018-02-08 02:52] rwwagner90 commented on #105
We have tests in place that technically check this is "working", but I don't split my tests myself, so not sure. Can you try 1.0.0-beta.2 @kellyselden?

[2018-02-08 02:54] rwwagner90 commented on #41
I believe this should be resolved in the latest version, 1.0.0-beta.2. If it is not, please feel free to reopen!

[2018-02-08 02:54] #41 closed

[2018-02-08 02:55] rwwagner90 commented on #23
@jonathansamines I think we can configure istanbul more directly now, so this might be possible with the latest versions. Do you have any interest in trying to figure it out? I generally just enforce coverage thresholds with Code Climate, Coveralls, etc.

[2018-02-08 02:58] rwwagner90 commented on #116
@adamjmcgrath do we currently support coverage for things in `addon-test-support`? If we do, we should probably write tests to make sure we really do, and if not, we should definitely add it.

[2018-02-08 05:00] ZYMoridae commented on #148
I have reinstalled all dependencies and it works.

[2018-02-08 07:31] adamjmcgrath commented on #116
We don't currently instrument the `addon-test-support` directory, but it should be relatively simple to add and since it's code that get's shipped with your addon it seems like a good candidate to include.

[2018-02-08 07:33] adamjmcgrath commented on #23
Not checked which fields of`.istanbul.yml` would work. You could also do `nyc check-coverage --lines 95 --functions 95 --branches 95` in your `posttest`  script.

[2018-02-08 07:40] adamjmcgrath commented on #91
We don't support `includes` - it would be difficult to repatriate the coverage back to the file that was covered if the user wanted to include files from say their `vendor` folder.

We do support `excludes` but you still need to specify the path to the module (`my-app-name/app.js`) rather than the path to the file on your file system (`app/app.js`).

[2018-02-08 07:50] adamjmcgrath commented on #73
This should be resolved in the latest release. The `require` get's called with every file that's instrumented - for addon's that's every file in the `addon` and `app` directory.

[2018-02-08 08:02] adamjmcgrath commented on #85
`excludes` uses the module path rather than the file path, so you would need to exclude `dummy/tests/**` in `v0.3.8`

If you use the latest version the `tests/dummy` folder is not included

[2018-02-08 13:26] #148 closed

[2018-02-08 13:29] rwwagner90 commented on #116
@adamjmcgrath I will work on this later today then. Thanks!

[2018-02-08 13:41] rwwagner90 commented on #91
@adamjmcgrath I tend to agree. I think the underlying issue is people were not getting coverage for an in-repo engine. I'll add tests for in-repo engines and get that squared away.

[2018-02-08 13:41] #91 closed

[2018-02-08 13:42] rwwagner90 commented on #71
@adamjmcgrath should we add optional support to cover the `dummy` directory as well?

[2018-02-08 14:23] adamjmcgrath commented on #71
Personally, I agree with https://github.com/kategengler/ember-cli-code-coverage/issues/71#issuecomment-258902990, so wouldn't use it. Adding optional support would also be complicated.

[2018-02-08 14:32] rwwagner90 commented on #71
@adamjmcgrath couldn't we just pass a flag and include the directory?

[2018-02-08 15:13] adamjmcgrath commented on #71
That's true, the `includeDummy` option would be fairly straightforward. Sorry, it was the `shouldIncludeFile` solution that I thought would be tricky - because you would not only need to tell Istanbul what _module_ to include, you'd also need to tell it how to find that module on the file system when it's building the report.

[2018-02-08 20:31] wireframe commented on #151
Awesome!  1.0.0-beta.2 is now reporting 88% test coverage for app which seems *much* more accurate!  Thanks!

[2018-02-08 20:31] #151 closed

[2018-02-08 21:57] rwwagner90 commented on #147
@xn it's essentially a full rewrite, so please check when you get a chance and let me know!

[2018-02-08 23:10] xn commented on #147
Sure thing. found a moment to try out. Same problem.
You are still using require here:
https://github.com/kategengler/ember-cli-code-coverage/blob/master/lib/templates/test-body-footer.html#L8

And the middleware is still inaccessible.

[2018-02-09 03:28] rwwagner90 commented on #147
@xn does `requireModule` fix it still? I see there were two things needed to fix it.

[2018-02-09 13:13] rwwagner90 commented on #120
Closing this, as it should be fixed in the latest beta. If not, feel free to reopen!

[2018-02-09 13:13] #120 closed

[2018-02-09 15:18] xn commented on #147
Yes, both changes are needed

[2018-02-09 18:46] #116 closed

[2018-02-09 18:47] rwwagner90 commented on #116
This should be fixed now, with the last merge.

[2018-02-09 18:51] rwwagner90 commented on #112
I'm going to close this, since you can configure via .istanbul.yml now. Please reopen or file new specific issues around things you specifically would like to see supported via .istanbul.yml.

[2018-02-09 18:51] #112 closed

[2018-02-09 18:52] rwwagner90 commented on #124
We have done basically a complete rewrite of this addon. Can you please test this again with 1.0.0-beta.2 @anehx?

[2018-02-09 21:28] wireframe opened #161 "No such file or directory error when in-repo add-on does not have app directory"
Using v1.0.0-beta.2 of ember-cli-code-coverage add-on, I'm receiving this error when running tests on our project with an in-repo add-on:

[code]

Our in-repo add-on is very simple that injects an express middleware into the ember server (modeled after the [ember-cli-inject-live-reload addon](https://github.com/ember-cli/ember-cli-inject-live-reload)).  Here's the add-on directory contents:

[code

[2018-02-10 13:42] adamjmcgrath commented on #161
This has been resolved by https://github.com/kategengler/ember-cli-code-coverage/commit/9c9a3c048d596c5de1e0955c0245eeba858a08d9#diff-168726dbe96b3ce427e7fedce31bb0bcR196 which will be in the next beta release

[2018-02-12 21:17] rwwagner90 commented on #86
This seems to be fixed now, and I just wrote a test for engines here https://github.com/kategengler/ember-cli-code-coverage/pull/162. If you are still experiencing issues on 1.0.0-beta.2 please let us know!

[2018-02-12 21:17] #86 closed

[2018-02-12 21:18] rwwagner90 commented on #73
This is done 👍

[2018-02-12 21:18] #73 closed

[2018-02-13 02:20] rwwagner90 commented on #55
Is there anyone using CoffeeScript that would like to test this out with the latest 1.0.0-beta.2?

[2018-02-13 02:23] rwwagner90 commented on #110
@adamjmcgrath is going to be tackling template instrumentation, so hopefully we'll get this back soon!

[2018-02-13 02:23] #110 closed

[2018-02-13 02:36] rwwagner90 commented on #161
Just published 1.0.0-beta.3, please try it out!

[2018-02-13 02:38] rwwagner90 commented on #85
Since @adamjmcgrath has provided a solution here, I am closing this. Please feel free to reopen if there is still an issue!

[2018-02-13 02:38] #85 closed

[2018-02-13 02:39] rwwagner90 commented on #133
This should be fixed now, please try out 1.0.0-beta.3. If there are any remaining issues, please let us know!

[2018-02-13 02:39] #133 closed

[2018-02-13 02:41] rwwagner90 commented on #125
@Turbo87 is this still an issue if you use 1.0.0-beta.3 of this addon?

[2018-02-13 12:28] Turbo87 commented on #125
I don't remember what project this was on or how to reproduce. I'll reopen if I hit this again.

[2018-02-13 12:28] #125 closed

[2018-02-13 17:05] adamjmcgrath commented on #23
Have checked this, the `check` `.istanbul.yml` fields don't work - in the long run we should probably fix this, but it wont work in the short run.

Have tested this, also doesn't work because `nyc` expects the coverage report to be in a different place/format

The solution that I've tested and works fine is using the [istanbul@1](https://github.com/gotwarlost/istanbul) CLI

[code]

You probably ne

[2018-02-14 18:59] wireframe commented on #161
:+1: our build is green with 1.0.0-beta.3!

Thanks to you all for your support!

[2018-02-14 18:59] #161 closed

[2018-02-21 03:42] rwwagner90 commented on #105
This was just refactored to now only need `COVERAGE=true ember exam --split=8 --parallel` i.e. just use ember exam like you normally would and it should work. We have not released a new beta version yet, but feel free to try out master and let me know if you still see issues!

[2018-02-21 03:42] #105 closed

[2018-02-21 03:43] rwwagner90 commented on #71
@adamjmcgrath an `includeDummy` flag would be great! I personally don't think the dummy directory should need to be covered, but if someone wants to include it, no reason we shouldn't support it.

[2018-03-12 19:32] lokeshcherukuri opened #167 "will this work with slenium webdriverjs?"
will this give coverage results with selenium http://webdriver.io/ ?  I tried "COVERAGE=true ember test" it worked. But will it work for webdriver selenium tests?

[2018-03-16 14:25] drbenschmidt opened #168 "Document support for excluding individual files in readme"
It took me a while of digging around to find that the correct way to exclude a file and not a glob path is to use the module name and not the folder name as the path root since the readme doesn't mention it. Should help people in the future setting this up!

From [Issue 91](https://github.com/kategengler/ember-cli-code-coverage/issues/91)

[2018-03-27 16:00] srini88 opened #170 "Low coverage percentage when parallel flag is set on v1.0.0-beta.3 release"
Hi, We use explicit `--parallel` option in our corporate repo, the current release `v1.0.0-beta.3` is not working well for us as it shows low coverage with `--parallel` flag set.

1. `COVERAGE=true ember exam`  - running like this yielded ~82% coverage in our repo
2. `COVERAGE=true ember exam --split=4 --parallel` - this yielded ~52.3% coverage for the same repo

Any thoughts?

[2018-03-27 16:18] #170 closed

[2018-03-29 14:26] mydea opened #171 "Branch marking in HTML report has issues"
In one of our apps, the marking in the HTML report has issues. We have the `useBabelInstrumenter` flag set to true.

It seems to not correctly take code like this into account: `let values = get(this, 'values') || [];`
If the fallback part is not covered (e.g. the []), it will correctly mark it yellow, as "branch not covered". However, __everything__ after that will also be marked yellow. Not only

[2018-04-04 13:38] rwwagner90 commented on #167
@lokeshcherukuri having never used that, I am not sure. I would think not, and this would only work with Ember style tests.

[2018-04-04 13:38] #167 closed

[2018-04-04 13:40] rwwagner90 commented on #23
@adamjmcgrath with the merge of https://github.com/kategengler/ember-cli-code-coverage/pull/169 which said that version works with nyc, can we officially recommend nyc as the method for checking thresholds in the README? Perhaps even offer a config to add nyc and check automatically, failing the Ember build if the threshold is not met?

[2018-04-05 00:47] les2 commented on #131
yep, everything's working now!

[2018-04-06 13:13] ultimatemonty opened #172 "Blacklist for production builds"
I recently ran into an issue where ember-cli-code-coverage was injecting the Istanbul instrumentation into my production build and it was showing up in sourcemap translations.

[code]

It turns out that you need to manually blacklist ember-cli-code-coverage in production builds to remove these.

#### Minified Production JS before blacklisting
[code]

#### Minified Production JS after blacklisting

[2018-04-06 14:12] kategengler commented on #172
You don't need to blacklist ember-cli-code-coverage for production builds.

The instrumentation will only run when the environment variable `COVERAGE` (or the one you configured) is true. As coverage is for tests, it's not expected that you have this variable set to true when you run your production build.

[2018-04-06 14:14] kategengler commented on #171
@mydea Can you try the beta of 1.0.0?

`useBabelInstrumenter` is gone in that version, replaced by https://github.com/istanbuljs/babel-plugin-istanbul If the issue persists with that, it should go to that repo.

[2018-04-06 14:28] ultimatemonty commented on #172
@kategengler ahhh that makes sense. Our CI environment sets the COVERAGE var and we run both `ember deploy production` and `ember test` in our CI build.

FWIW blacklisting did resolve the issue for us but it makes sense that the presence of the environment variable was the real culprit.

Thanks! Will close.

[2018-04-06 14:28] #172 closed

[2018-04-08 07:37] adamjmcgrath commented on #23
I haven't had an opportunity to try it yet - perhaps @charlesdemers can confirm?

[2018-04-08 20:55] charlesdemers commented on #23
Yep it’s possible to fail the build on Travis with `nyc` now that #169 is merged, I do it with this config:

__.nycrc__

[code]

__in package.json:__

[code]

__in .travis.yml__

[code]

[2018-04-09 06:55] mydea commented on #171
Hey,

looks good to me in 1.0.0-beta.3! Thank you :)

[2018-04-09 06:55] #171 closed

[2018-04-09 13:39] rwwagner90 commented on #23
@adamjmcgrath @charlesdemers would one of you like to document this in the README? I also think it could be nice to add nyc as a dep to this addon, and just build this functionality in. I would like the Ember build to fail, when the coverage is not sufficient, if we can do that. That way, testing locally and on travis are the same.

[2018-04-11 02:49] kategengler commented on #23
I think leaving it to the user to add in checking coverage is sufficient. They can change their `npm test` command to both run tests and check coverage, if they want that. I do think documenting that `nyc` utils can now be used with this addon is something we should do.

[2018-04-11 11:47] rwwagner90 commented on #23
Sounds good. @charlesdemers would you mind submitting a PR to document how you use nyc?

[2018-04-11 11:50] charlesdemers commented on #23
Sure! I can do it sometime this week :)

[2018-04-12 15:13] TigressBailey opened #174 "`ember coverage-merge` caused the instanbul-reports issue"
Hi,
The issue is
```cross-env COVERAGE=true ember exam --split=3 --parallel```
The result is perfect.

Then run```ember coverage-merge && rm -rf ./coverage_*```
![image](https://user-images.githubusercontent.com/15047538/38685907-a66952a2-3ea5-11e8-9dc1-aa44f106733e.png)

The `ember-cli-code-coverage` version is `v1.0.0-beta.3`
Can you please give a hint on this?

And another thing is the `instanb

[2018-04-12 21:35] kategengler commented on #174
We have a dependency on the `istanbul-api` package, which as far as I can see is not deprecated, and uses the `istanbul-reports` package, also not deprecated (but was moved to the `istanbuljs` monorepo). We are on a slightly outdated version of `istanbul-api`, but it looks like the line that errored is the same in the latest version.

Could you attempt to reproduce the problem in a clean ember app

[2018-04-12 23:47] efx opened #175 "silly developer ergonomics request, warn on truthy COVERAGE=foo"
I see truthy checks all over the place.
As a developer, I read the documentation and saw `COVERAGE=true` and assumed I could just use `COVERAGE=1`. (Dangerous, and lazy). I then realized you must explicitly pass this value as a boolean or string: https://github.com/kategengler/ember-cli-code-coverage/blob/master/index.js#L242.

Could we add a warning if I or anyone else decides to pass in a truthy

[2018-04-13 03:15] TigressBailey commented on #174
@kategengler  Issues resolved by cleaning up the app folder. We've experienced this on the CI server so it was recognized just now.
Thanks for your comment!

[2018-04-13 03:15] #174 closed

[2018-04-13 10:36] CvX commented on #175
I'd propose loosening that requirement and either just checking if env var is present at all, or inverting the current condition and checking if the var is not 'false' or '0'.

[2018-04-16 14:03] mariani-gg opened #176 "COVERAGE=true adds extra test that fails on High Sierra"
Using this package with High Sierra (10.13.3) seems to result in an additional test that fails, as well as incorrect test counts in the testem runner.  We have tested this with a machine using Sierra (10.12.6) and High Sierra (10.13.3), and the issue only presents itself on machines running High Sierra (10.13.3).  This issue manifests when using Firefox, Chrome, and headless Chrome.  We also get s

[2018-04-17 02:31] kategengler commented on #176
@mariani-gg Could you attempt to reproduce this in a new ember app that you can share? I use High Sierra myself and have never seen this.

[2018-04-17 02:36] kategengler commented on #175
I wouldn't want to loosen the requirement because I wouldn't want any builds to run with coverage/instrumentation that haven't thus far.

There's a bit of a gotcha to warning if it isn't an expected value, though, because this addon should only have console output or do anything in the case of the env var being true.

[2018-04-22 22:19] IAmJulianAcosta opened #177 "TypeError: The plugin didn't export a Plugin instance"
I'm getting this error when running `COVERAGE=true ember test`:

[code]

I'm using latest beta

[2018-04-23 17:07] erichonkanen commented on #132
I'm running into the same issue when enabling sourceMaps: 'inline' on babel... anyone have more knowledge on how to resolve this?

[2018-04-23 22:06] kategengler commented on #132
@erichonkanen Have you tried the latest beta of ember-cli-code-coverage?

[2018-04-23 22:19] erichonkanen commented on #132
@kategengler I did try but I got a different error, something about `name` is undefined or something.. I ended up getting around it by doing `babel: { sourceMaps: !process.env.COVERAGE ? 'inline' : false }`

[2018-04-24 01:55] rwwagner90 commented on #132
@erichonkanen are you able to share any code where you were getting the different error? I would expect this problem to be resolved in the latest beta.

[2018-04-24 01:57] rwwagner90 commented on #128
I believe this should be resolved, as of the latest beta. If anyone is still experiencing issues, please let me know and I will reopen this issue.

[2018-04-24 01:57] #128 closed

[2018-04-24 01:59] rwwagner90 commented on #98
@Turbo87 @dennismende is this still an issue as of the latest beta, 1.0.0-beta.3?

[2018-04-24 02:00] rwwagner90 commented on #55
@luketheobscure @turboladen can either of your please test this out with the latest beta, 1.0.0-beta.3?

[2018-04-24 02:15] luketheobscure commented on #55
I'm afraid we migrated all of our projects off of CoffeeScript. https://github.com/decaffeinate/decaffeinate is incredible.

[2018-04-24 09:57] chilicoder opened #178 "How to get text reporter input in console"
After running `COVERAGE=true ember test` I want to get coverage report in console
I tried to put text-summary reporter into configuration like this
[code]
without any success.

Can you suggest me any approach? I didn't see in code any ways how to provide options to istanbul

[2018-04-24 13:32] rwwagner90 commented on #178
@chilicoder perhaps try `text` instead of `text-summary`? I am pretty sure that works or at least used to work.

[2018-04-24 17:46] adamjmcgrath commented on #178
`'text-summary'` works for me. Are you getting any coverage data at all after running `COVERAGE=true ember test`? (check if you have a `coverage` folder)

Also, just double checking that you're putting your config in the correct place (`config/coverage.js`)

[code]

[2018-04-26 22:53] chilicoder commented on #178
I checked on a clean project and both `text` and `text-summary` work. Thanks for your answers, looks like its something with my app.

[2018-04-26 22:53] #178 closed

[2018-04-27 00:59] apellerano-pw commented on #152
I've been following the 1.0.0 release closely because I want dat speed improvement, just wanted to share a benchmark (in seconds) from the 1.0.0-beta.4 build

[code]

Looks promising! :tada:

[2018-05-08 18:19] wojm opened #180 "Coverage in Engines"
I'm having trouble getting coverage in engines to work. This is specific to a private repo, but I've tried running coverage in this repo without success.

Steps to reproduce:
[code]
This will show that there are a total of 0 lines in the report although all of the tests have been run.

There is an active PR that seems related to this:
 - https://github.com/kategengler/ember-cli-code-coverage/pull/

[2018-05-09 14:44] rwwagner90 commented on #180
@wojm this seems odd. We have test cases that check that in-repo engines work. Can you share your versions of `ember-cli-code-coverage`, `ember-cli`, `engines`, etc?

[2018-05-21 22:08] ming-codes opened #181 "TypeError: Cannot convert undefined or null to object"
https://github.com/kategengler/ember-cli-code-coverage/blob/ca8ffbb9f3f2864e21dc53bfa5241b1ad3941529/lib/attach-middleware.js#L22

Somehow the passed in `fileLookup` is null.

I did some investigation. `include` hook is indeed called before `serverMiddleware`, but the `this.fileLookup` in `serverMiddleware` is not the same instance as the one in `include`.

This is on `ember-cli-code-coverage@1.0.

[2018-05-21 22:16] ming-codes commented on #181
🤔 Even `this` context is different between `included` and `serverMiddleware` hooks.

[2018-05-22 22:13] rwwagner90 commented on #181
@ming-codes do you have a reproduction we could look at? Coverage is working for me.

[2018-06-02 12:00] #181 closed

[2018-06-13 12:24] SantoshRaoBlr opened #183 "COVERAGE=true ember server"
I have a situation like this, where I have set of tests written in Cucumber running against the ember application. Is there a way I could possibly run the coverage tool instead of using ember tests, and run the app using ember server and separately run the cucumber tests, and check out the coverage results separately.

[2018-06-13 15:22] rwwagner90 commented on #183
This is built to use with Ember tests, I don't think it will work with cucumber.

[2018-06-14 04:30] SantoshRaoBlr commented on #183
Yes, I saw that, but I was wondering, it may be nice to introduce at some time, to just generate a coverage report from a running instance.

[2018-06-14 04:30] #183 closed

[2018-06-19 12:54] tniezurawski commented on #81
I had the same problem. Because of Integration tests where I use [New Testing API](https://github.com/emberjs/rfcs/blob/master/text/0232-simplify-qunit-testing-api.md#detailed-design).

I had to close mirage server (`server.shutdown()`) after every Integration tests. Here is quite neat solution for folks that will strugle with this in the future:

https://gist.github.com/tniezurawski/907d0fa83a7a6

[2018-06-19 19:59] jrock2004 opened #185 "Coverage Report in VSTS not using external CSS"
So looking at the following screenshot, the nice CSS formatting you guys do get lost in VSTS as it seems like VSTS rips them out. Any thoughts of adding a variable or something to inline those 2 CSS files? Thanks

![image](https://user-images.githubusercontent.com/655716/41621090-ac600c50-73d9-11e8-9596-47cf2aa73b70.png)

[2018-06-19 20:52] rwwagner90 commented on #185
I'm pretty sure the CSS is just built into Istanbul, right @kategengler?

[2018-06-19 20:57] jrock2004 commented on #185
@rwwagner90 Yeah that is what I noticed looking over the code. Right now I am playing around with using `gulp` and `gulp-inline-source` to see if I can do that to get this to work. Hate that I would have to add gulp just for this.

[2018-06-19 21:00] jrock2004 commented on #185
Opening issue over at istanbul https://github.com/gotwarlost/istanbul/issues/890

[2018-06-19 21:00] #185 closed

[2018-06-20 01:20] jrock2004 commented on #185
Wait is that the place to open it

[2018-06-20 01:29] rwwagner90 commented on #185
@jrock2004 what is VSTS? I would think they just need to support Istanbul.

[2018-06-20 11:55] jrock2004 commented on #185
@rwwagner90 it’s Visual Studio Team Services. The problem is they strip out links to external css and js files. It needs to be inline

[2018-06-20 11:59] rwwagner90 commented on #185
@jrock2004 right, so the issue is VSTS. They need to not do that. I would open a bug with them.

[2018-07-30 10:56] swastik commented on #132
I got a similar error (`cannot read property name was undefined`). The stacktrace pointed to [this line](https://github.com/kategengler/ember-cli-code-coverage/blob/master/index.js#L179) where `addon` was undefined.

In my `package.json`, inside `ember-addon` > `paths` array, I had an in-repo addon path that didn't actually exist. Removing that fixed the issue. 🙂

[2018-08-07 11:39] Straightline opened #187 "Usage on windows."
When I run `COVERAGE=true ember test` that doesn't work on windows, so I tried to `ember test COVERAGE=true` which also does nothing. So how do you use this on windows?

I know it's installed as it's visible in the node_modules folder.

ember-cli-code-coverage: 0.4.2
ember-cli: 3.2.0

[2018-08-07 14:58] rwwagner90 commented on #187
@Straightline please try the latest beta 1.0.0-beta.4

[2018-08-07 15:14] Straightline commented on #187
I stayed using 0.4.2 and got it working, so thank you anyways!

[2018-08-07 15:15] #187 closed

[2018-08-30 13:54] rwwagner90 commented on #176
I've also never seen this, closing unless there is a reproduction available.

[2018-08-30 13:54] #176 closed

[2018-08-30 13:56] rwwagner90 commented on #152
@kategengler what is required before the 1.0 release? I think we should go ahead and release a 1.0, as the currently released versions do not work in a lot of cases, but the betas do, so I think we need to have the latest version working. What do you think?

[2018-08-30 13:57] rwwagner90 commented on #55
CoffeeScript works now, I've tested it on a project using it.

[2018-08-30 13:57] #55 closed

[2018-08-30 16:55] kategengler commented on #152
@rwwagner90 That was what was intended this issue was intended to be a list of -- those list of manual tests + auditing the README. At this point, I'd also say we have to update `ember-cli` to a more recent, non-beta version.

I wouldn't require it for 1.0, but probably shortly after we should upgrade to the latest `babel-plugin-istanbul`, if that's not something we

[2018-08-30 19:29] rwwagner90 commented on #152
@kategengler I can update ember-cli and see about babel-plugin-istanbul.

[2018-09-04 12:29] rwwagner90 commented on #180
Yes, updating should fix the issues.

[2018-09-04 12:29] #180 closed

[2018-09-04 12:30] rwwagner90 commented on #2
@kategengler do we still need to support this?

[2018-09-04 13:55] kategengler commented on #2
Seems like it was fixed by #119

[2018-09-04 13:55] #2 closed

[2018-09-07 12:25] scottkidder opened #189 "Not working with ember-cli-babel@^7.1.0"
I just noticed our coverage has been reporting as 100% 0/0 lines. It appears this all started when our projects upgraded to ember-cli-babel@^7.1.0 from ember-cli-babel@^6.17.0

[2018-09-11 17:00] rwwagner90 commented on #189
@adamjmcgrath any ideas on this? I don't have a ton of time to investigate this right now.

[2018-09-12 13:41] scottkidder commented on #189
@rwwagner90 I made a minimal reproduction repo [here](https://github.com/scottkidder/ec-no-cov)

[2018-09-17 14:36] villander opened #193 "useBabelInstrumenter don't works"
ember-cli: 3.3.0

I create the config/converage.js like this:

[code]

but the errors continue

[code]

[2018-09-17 14:57] villander commented on #193
cc: @rwjblue @kategengler

[2018-09-17 15:07] kategengler commented on #193
Please try the latest 1.0 beta of this addon (1.0.0-beta.5)

[2018-09-18 12:04] adamjmcgrath commented on #189
This has been fixed in `babel-plugin-istanbul@5.1.0` - it's just not been release yet

As a workaround you can do `npm install babel-plugin-istanbul@next`

[2018-09-19 16:43] lifeart opened #195 "TypeScript support"
Looks like this is an feature request ( I can't find examples with ember-cli-typescript & ember-cli-code-coverage)

[2018-09-19 17:54] #195 closed

[2018-09-20 18:51] abhilashlr opened #197 "Support for module unification app"
The current stable 0.4.2 or the beta (6) version do not have support for module unification app layout. However, there is a fix for this in the current stable version:
https://github.com/kategengler/ember-cli-code-coverage/compare/v0.4.2...abhilashlr:v0.4.2-module-unification

Would like to know what is the plan with respect to this MU support.?

[2018-09-21 16:44] rwwagner90 commented on #189
@adamjmcgrath do you know why this would still be broken?

[2018-09-21 16:50] rwwagner90 commented on #197
@abhilashlr we'll need to support it for sure. If you have a solution, please submit a PR 😃

[2018-09-21 18:05] abhilashlr commented on #197
But I am unable to send a PR against the tag, can you please publish the 0.4.2 tag as a branch? I can then send a PR.
At the moment, there are couple of issues with respect to this diff:
- [ ] the coverage is run for *-test.js files inside the src directory; and
- [ ] the tests are run twice.

[2018-09-21 18:08] rwwagner90 commented on #197
@abhilashlr we would want these changes in the new code, not in the 0.4.2 code. Can you make these changes based on the master branch?

[2018-09-21 18:09] abhilashlr commented on #197
Okay. I can try.

[2018-09-22 11:34] abhilashlr commented on #197
@rwwagner90 Can you please review the PR.

[2018-09-24 03:55] villander commented on #193
it's solved my issue, thanks @kategengler

[2018-09-24 03:55] #193 closed

[2018-09-24 05:33] erichonkanen commented on #105
Is this still true? The docs seem to suggest using `ember coverage-merge` for which there is no documentation itself (e.g. should I specify a path if I set coverageFolder var?)

[2018-09-24 17:14] adamjmcgrath commented on #189
Ah ok, it still looks like an issue with `babel-plugin-istanbul`, babel 7 now sets `opts.filename` to an absolute path (https://github.com/babel/babel/pull/8044), so it needs to change to a relative (module) path - similar to the fix in https://github.com/babel/ember-cli-babel/pull/234/files#diff-168726dbe96b3ce427e7fedce31bb0bcR26

[2018-09-24 17:16] rwwagner90 commented on #189
@adamjmcgrath is there a way we can support both babel 6 and 7 or are we forced to choose here?

[2018-09-25 16:37] #189 closed

[2018-09-25 16:39] rwwagner90 commented on #189
@adamjmcgrath @kategengler can/should we be supporting both babel 6 and 7 or should we just support 7+ in 1.0+ of this lib?

[2018-09-25 16:45] adamjmcgrath commented on #189
The latest ember-cli blueprints still use babel 6 (https://github.com/ember-cli/ember-cli/blob/v3.5.0-beta.1/blueprints/app/files/package.json#L27) so I think it will be a while before most users are on 7

[2018-09-25 19:28] rwwagner90 commented on #189
@adamjmcgrath While this is true, we want to make sure we either support both for awhile or cut support for babel 6, I think.

[2018-10-14 21:24] villander opened #203 "How add hbs files to coverage ?"

[2018-10-15 11:59] #203 closed

[2018-10-15 12:18] villander commented on #203
thanks @rwwagner90

[2018-10-22 19:31] abhilashlr commented on #175
@kategengler Do we need to add a warning message? I can work on a PR for this.

[2018-10-22 23:44] rwwagner90 commented on #175
I think this is a wontfix, as @kategengler said, it should not have output unless it's true.

[2018-10-23 12:43] #175 closed

[2018-11-13 14:46] NullVoxPopuli opened #204 "How do I get coverage from the /tests endpoint when running ember s?"
I'd like to be able to have tests constantly run as I'm writing them and coverage constantly generated as I'm working on my tests.

Is there a way to do this?

[2018-11-15 16:30] rwwagner90 commented on #204
As far as I know, there is not a way to constantly generate coverage, but I don't know much about Istanbul.

[2018-11-28 13:50] astronomersiva commented on #154
We should probably add this to the README. Spent a long time chasing this today. Can I go ahead and create a PR for this?

[2018-11-28 14:20] rwwagner90 commented on #154
@astronomersiva sure thing, PRs are always welcome 😃

[2018-11-30 19:06] allthesignals commented on #204
Wondering if you discovered anything new on this front, @NullVoxPopuli - I am also curious about configuring coverage as a CI check for Github.

[2018-11-30 19:06] NullVoxPopuli commented on #204
I haven't made any progress. I still have highlighting / alignment issues.

[2018-11-30 20:12] rwwagner90 commented on #204
@allthesignals a coverage check can be done a few ways. I use Code Climate for that. Feel free to ping me on discord if you need help setting something up.

[2018-12-12 10:52] jnfingerle opened #207 "Coverage report created, but reported as 0%"
Hello,

for some reason, I still get coverage reports, but coverage ist reported as 0%. I've created a minimal test case as follows:

[code]

The resulting project can be found at https://github.com/jnfingerle/ember-project-zero-coverage.

The resulting lcov.info is
[code]

coverage-summary.json is at 0% coverage as well.

[2018-12-14 12:14] jnfingerle commented on #207
I've just tested this with ember 3.6, the result is still the same.

[2018-12-18 16:22] nfc036 commented on #207
I'm facing the same problem and it seems to be Windows related.

`walkSync` yields entries with keys like 'appname/controllers/application.js' (slash as directory separator).
https://github.com/kategengler/ember-cli-code-coverage/blob/012463c429d6821d355b8672a81315d0ebe9f330/index.js#L203-L207

This is later used in function `writeCoverage` as `fileLookup` to map the coverage results to the corres

[2018-12-18 16:52] rwwagner90 commented on #207
@adamjmcgrath any ideas on this?

[2018-12-18 17:54] adamjmcgrath commented on #207
I don't have a windows machine to test this on but if https://github.com/kategengler/ember-cli-code-coverage/issues/207#issuecomment-448279446 is true, #208 should fix the issue

[2018-12-18 18:14] rwwagner90 commented on #207
@nfc036 @jnfingerle I just merged the PR from @adamjmcgrath. Can you guys try using the master branch please? I also do not have a Windows machine to test on.

[2018-12-18 19:10] nfc036 commented on #207
No, sorry. `root` is i.e. C:\appname\frontend, `filePath` is i.e. C:\appname\frontend\controllers\application.js and then  `modulePath` becomes ../C:\appname\frontend\controllers\application.js.

[2018-12-18 19:46] rwwagner90 commented on #207
@adamjmcgrath are you following what @nfc036 is saying?

[2018-12-18 21:18] nfc036 commented on #207
From my point of view, #208 should be reverted.

As noted above,
```const modulePath = path.relative(root, filePath).replace(/\\/g, '/');```
gives also on Windows non-empty coverage results as expected... There is a node package "slash" that could be used as well and that is basically doing the very same replace...

[2018-12-19 07:36] nfc036 commented on #207
@adamjmcgrath How about this snippet? (The replace above could give problems on Posix with filenames containing backslashes.)
[code]

[2018-12-19 09:42] adamjmcgrath commented on #207
@jnfingerle or @nfc036 can you confirm that https://github.com/kategengler/ember-cli-code-coverage/tree/adamjmcgrath-patch-2-1 works for you?

[2018-12-19 10:09] jnfingerle commented on #207
@adamjmcgrath I can confirm that it works for me.

[2018-12-19 12:07] rwwagner90 commented on #207
Merged the fix to master. Thanks @adamjmcgrath!

[2018-12-19 12:07] #207 closed

[2018-12-30 18:10] rwwagner90 commented on #204
@kategengler with that in mind, we should close this right?

[2018-12-30 18:48] kategengler commented on #204
Assuming what I said works is working for @NullVoxPopuli

[2018-12-30 19:52] NullVoxPopuli commented on #204
I'll check in a bit!

On Sun., 30 Dec. 2018, 12:48 pm Katie Gengler <notifications@github.com
wrote:

[2018-12-31 12:43] NullVoxPopuli commented on #204
yup!

[2018-12-31 12:43] #204 closed

[2019-01-02 15:07] srini88 commented on #207
@rwwagner90 when can we expect a new release `v1.0.0-beta.8` with this fix?

[2019-01-03 14:54] rwwagner90 commented on #207
@srini88 Travis is supposed to publish it, but it is having issues. I just manually published it for now.

[2019-01-04 12:19] kandhavivekraj opened #210 "Test cases fail with --path flag in 1.0.0-beta.0"
Test cases fail when I update from 0.4.2 to 1.0.0-beta.0

Command:  `COVERAGE=true node_modules/.bin/ember exam --path='test-dist' --split=4 --parallel --partition=1`

I'm running the above command, and some of my test cases are starting to fail with the error

[code]

I guess while passing the `--path` flag, the addons' included hook is not invoked and so `fileLookup`'s value is [null](https://gi

[2019-01-04 13:53] kandhavivekraj commented on #210
@rwwagner90 Even in the latest version (`1.0.0-beta.8`), in writeCoverage method fileLookup is being iterated. Hence the same problem [exists](https://github.com/kategengler/ember-cli-code-coverage/blob/2cefa0477d6e14be8b7c812367ceddcc51f45303/lib/attach-middleware.js#L29)

[2019-01-04 14:42] rwwagner90 commented on #210
@kandhavivekraj I'm not sure if passing `--path` makes it skip the `included` hook or not. I would think it would still execute.

@kategengler @adamjmcgrath do either of you know about this?

[2019-01-07 05:00] kandhavivekraj commented on #210
When I place the debugger on the included hook it stops only if `--path` flag is not passed @rwwagner90

[2019-01-07 15:05] kategengler commented on #210
As I understand it, the `--path` option is to reuse an existing build, in which case it is fundamentally incompatible with `ember-cli-code-coverage`. In order to generate coverage this addon needs to add instrumentation during the build.

[2019-01-08 05:15] kandhavivekraj commented on #210
The build was generated with COVERAGE=true as specified in the README.

Also, coverage works till version 0.4.2.

[2019-01-08 19:53] ming-codes commented on #210
I had a previous issue on this #181

I don't think the fix is proper.

[2019-01-08 20:08] ming-codes commented on #210
What is everyone's Ember CLI version?

[2019-01-18 19:08] IliasDeros opened #211 "SyntaxError: Unexpected identifier"
Adding the plugin causes my EmberJS app to stop working, despite following the requirements described in the **README**.

### The Error
`Uncaught SyntaxError: Unexpected identifier`, pointing to the first line in my app's javascript output, which is an `import` statement.

What am I missing?

### Package.json
[code]

### Other versions
[code]

[2019-01-18 21:23] rwwagner90 commented on #211
@IliasDeros please try the latest beta 1.0.0-beta.8

[2019-01-18 21:36] #211 closed

[2019-02-25 16:58] lifeart opened #213 "Coverage not working for `ember-cli-typescript@2`"
fix for it: https://github.com/kategengler/ember-cli-code-coverage/pull/212

before:

![image](https://user-images.githubusercontent.com/1360552/53354431-cdc90a80-3937-11e9-89a7-2656ce5469bc.png)

after:

![image](https://user-images.githubusercontent.com/1360552/53354503-ef29f680-3937-11e9-909d-d6dcb800e4ec.png)

[2019-03-26 18:24] gmurphey opened #214 "Coverage fails to write when using ember-cli-content-security-policy > 1.1.1"
Haven't had too much time to dig into it, but the write coverage endpoint seems to be blocked when using ember-cli-content-security-policy > 1.1.1. Might be enough to document the CSP changes needed to get it working, or detecting the CSP addon and augmenting its config generating coverage reports.

[2019-03-28 18:27] luketheobscure opened #215 "Not compatible with babel 7?"
In the process of getting a small app updated to the newest version of everything. Everything works, but when I add `COVERAGE=true` I'm now getting complaints from ember-cli-code-coverage:

[code]

Here's what I think are the relevant bits of my package.json:
[code]

I do have `useBabelInstrumenter: true` in my `config/coverage.js` file.

[2019-03-28 18:44] luketheobscure commented on #215
Just upgraded from ember-cli-code-coverage
 0.4.2 to 1.0.0-beta.8 and everything seems to be working fine!

[2019-03-28 18:44] #215 closed

[2019-04-04 02:11] 0xadada opened #216 "coverage fails with ember-decorators"
I recently added `ember-decorators` to my project, and converted a single model and a single component to native ES classes with decorators. After doing this, my code coverage stopped working, throwing errors.

I've posted a minimal reproduction repo here:
https://github.com/0xadada/sandbox-native-classes-code-coverage

**before**
[code]

**after**
[code]

**before**
[code]
**after**
[code]

When

[2019-04-04 14:41] rwwagner90 commented on #216
@0xadada have you tried setting `useBabelInstrumenter` to `true` in your config/coverage.js?

[2019-04-04 16:59] 0xadada commented on #216
@rwwagner90 yup, tried that, it didn't work.
[code]

[2019-04-05 10:06] Turbo87 opened #217 "`babel-plugin-istanbul` invocation is preventing `ember-cli-babel` from parallelizing"
[code]

I suspect using `require.resolve()` instead of `require()` might be able to fix this, similar to https://github.com/ef4/ember-auto-import/pull/199

/cc @stefanpenner @rwjblue

[2019-04-10 22:38] magistrula commented on #177
I'm running into this issue as well on `v1.0.0-beta.4`.

[2019-04-11 04:10] rwwagner90 commented on #177
@magistrula do you mind trying the latest, 1.0.0-beta.8? I'm not sure if it will make a difference, but it couldn't hurt!

[2019-04-25 06:02] poplevente opened #218 "Coverage Report in VSTS"
Hi All,

i tried to search for a tutorial how to set up VSTS to show the coverage report. does anyone has an idea?

thanks!

[2019-04-25 11:52] rwwagner90 commented on #218
@poplevente this looks like it should probably work https://westerndevs.com/development/istanbuljs-in-vsts/

[2019-04-25 11:52] #218 closed

[2019-05-31 06:40] Raj-Praveen opened #219 "Code coverage doesn't run without parallel attribute set to true"
Hi,

Ember-cli : 2.12.3,
ember-code-coverage:0.4.1

Code coverage does not generate any reports without setting the "parallel" : true.
[code]
When I set parallel to false, The report is just empty. As I understand this option is useful when you have ember exam installed and you intend to run tests in parallel but I do not have one.

This is a private repo and wouldn't be able to share the code bas

[2019-06-02 16:43] rwwagner90 commented on #219
Hi @Raj-Praveen you'll likely want to try the latest beta, which I believe is 1.0.0-beta.8. 0.4.1 is quite old.

[2019-06-03 06:44] Raj-Praveen commented on #219
Hi @rwwagner90 , Thanks for your response.

unfortunately I'm not at the comfort of trying the latest beta since we are on an older version of ember and babel. Although the coverage report does get generated as expected, I was curious to know how does it  work only after setting the attribute  ```parallel : true``` when I don't have ember exam configured.

[2019-06-03 20:40] rwwagner90 commented on #219
@Raj-Praveen you should try the betas. They fix lots of issues. I do not know why that would happen for you, but 0.4.1 was released 2 years ago. Any bug fixes or updates have been released in the various 1.0.0 betas. Please try them.

[2019-07-16 11:05] katieburke1 opened #220 "Coverage not working for helpers"
We have a folder with 10 helpers, 6 of them are displayed as not being covered even though they are. Does anyone have any ideas as to why this might be?

[2019-07-18 00:27] mehulkar opened #221 "Fails if host option is provided in .ember-cli file"
With v1.0.0-beta.8 if I have an `.ember-cli` file like this:

[code]

the CI output is:

[code]

(The `Fontconfig warning` is unrelated.)

This output *kindaaa* makes sense, since the hostname isn't configured in `/etc/hosts`, so I'm guessing `ember server` would fail too, but it's surprising because just running `ember test` works fine and `v0.4.2` also works fine (although I wasn't able to get t

[2019-07-18 00:30] mehulkar commented on #221
I am stupid 🤦‍♂. Our CI job runs `npm run test`, not `ember test`, and the test script is set to `ember test --host localhost`. I'm pretty sure doing the same for the coverage job will fix the issue.

[2019-07-18 00:30] #221 closed

[2019-08-07 19:47] mattmarcum commented on #216
I was running into a similar issue on a new repo and I did a couple of things and got this working - not sure which fixed it...but here's two of them:

update package.json with `    "ember-cli-code-coverage": "1.0.0-beta.8",`

and

update ember-cli-build.js with
[code]

[2019-09-24 13:52] abishek-srinivasan commented on #150
I use "ember-cli-code-coverage": "1.0.0-beta.1". I am able to run the complete test suite. The coverage directory gets generated. But my coverage/lcov.info is empty without any data. When I check my jenkins Codecov, it says,
Reading reports

Skipping empty file ./coverage/lcov.info
--> No coverage data found.
When I open coverage/lcov-report/index.html, it shows everything as Zero. Something like

[2019-09-24 14:43] rwwagner90 commented on #150
@abishek-srinivasan can you please try the latest beta?

[2019-09-24 15:49] abishek-srinivasan commented on #150
@rwwagner90 , I will not be able to do that. I use babel 6 and I have to update the babel to 7 if I have to move to latest beta. Is there any way to resolve it with the current version that I am using?

[2019-09-24 17:08] rwwagner90 commented on #150
You can update ember-cli and/or ember-cli-babel without updating your Ember version, in most cases. I would try updating some things and see if the latest beta works. It may or may not.

[2019-09-25 18:09] srini88 opened #222 "Duplicate plugin/preset detected when running the coverage"
Hello,

When I'm running `COVERAGE=true ember test` inside my addon directory, I'm encountering the below error

[code]

The stack trace does not have any useful information. I found this PR  https://github.com/hjdivad/ember-m3/pull/386 and https://github.com/babel/babel/pull/10419 and tried to console log the conflicts in the file `packages/babel-core/src/config/config-descriptors.js`. It printed

[2019-09-27 23:06] lan-nguyen91 commented on #210
@ming-codes this is ugly, but we have to fork and do this

![image](https://user-images.githubusercontent.com/14827876/65806896-c7ef0e00-e140-11e9-92d5-92255982b09e.png)

[2019-10-21 12:46] #213 closed

[2019-10-21 12:46] lifeart commented on #213
Fixed

[2019-10-21 12:47] lifeart commented on #213
https://github.com/kategengler/ember-cli-code-coverage/pull/223

[2019-10-21 15:09] veelenga opened #230 "Long instrumentation phase?"
We have a big ember app and it looks like coverage becomes a bottleneck for our production builds. For some reason, it takes a very long time to build the app when coverage is enabled. Can be reproduced locally too:

[code]

As you can see the diff is 3 minutes (75% of time). A very similar relative diff is on CI.

[code]

We tried to exclude everything except `app` folder, but it looks like this

[2019-10-21 17:35] kategengler commented on #230
This addon delegates to https://github.com/istanbuljs/babel-plugin-istanbul for instrumentation, and it is a layer atop that for Ember apps. I suggest looking into what the times are directly using that.

To me, it is not unexpected that a large app will take a long time to instrument, it is literally wrapping every line of code.

[2019-10-23 11:29] #230 closed

[2019-11-15 23:44] ventuno opened #232 "TypeError: Cannot convert undefined or null to object"
Similarly to https://github.com/kategengler/ember-cli-code-coverage/issues/181 this error is visible when running `COVERAGE=true ember test --path=dist` or `COVERAGE=true ember exam --path=dist`.

This seems to happen because https://github.com/kategengler/ember-cli-code-coverage/pull/182/ fixes the problem by defaulting `fileLookup` in the `included` hook which is only called when `COVERAGE=true

[2019-11-19 19:22] srini88 commented on #222
@kategengler any thoughts on this?

[2019-11-26 02:56] jrock2004 commented on #216
I am getting this which is a little different error. I tried what @mattmarcum suggested above and I get the same results

[code]

[2020-01-16 21:27] axelerate opened #235 "Incorrect Coverage Reports when moduleName differs from package name"
A comprehensive gist in reproducing the steps exists here:
https://gist.github.com/axelerate/541197497877db60ea416effa9dce5d8

I confirmed that this problem only manifests itself as an issue for addons where the package name is not the same as the value defined in index.js's `moduleName`. This thus leads to the coverage omitting most if not all files that were tested.

This problem first arose onc

[2020-01-29 14:25] #235 closed

[2020-01-31 17:02] dspigarelli commented on #214
I found that not setting `ember-cli-content-security-policy`'s `contentSecurityPolicyMeta` to `true` and ensuring `"'unsafe-inline'"` was in the list of options for `contentSecurityPolicy['script-src']` when running `COVERAGE=true ember test` fixed it for me.

[2020-02-05 21:32] axelerate opened #240 "Request to publish latest tag version of ember-cli-code-coverage"
The latest code changes resolves ongoing issues when it comes to generating correct reports for our Ember addons.

[2020-02-08 01:36] mehulkar commented on #240
What are the blockers for releasing 1.0 (not beta)?

[2020-02-09 23:47] axelerate commented on #240
@kategengler Any blockers for release v1.0.0?

[2020-02-11 21:37] #232 closed

[2020-02-16 10:22] yratanov opened #241 "Typescript issue"
I'm using `"ember-cli-code-coverage": "^1.0.0-beta.8"`

And typescript code coverage doesn't work. Please see the repo: https://github.com/yratanov/ember-page-object-asserts

Am I doing something wrong?

[2020-02-16 15:29] lifeart commented on #241
@yratanov check this branch: https://github.com/kategengler/ember-cli-code-coverage/pull/223

[2020-02-17 05:54] yratanov commented on #241
@lifeart Yes, I saw it. I thought it should be in `1.0.0-beta.8`?

[2020-02-17 06:07] lifeart commented on #241
@yratanov nope, use gh commit in package.json

beta 8 - 1 year old

[2020-02-17 08:19] yratanov commented on #241
@lifeart thank you. Closing it

[2020-02-17 08:19] #241 closed

[2020-02-19 03:18] narayanpai commented on #240
@rwjblue Any updates on when the latest version can be released?

[2020-02-19 03:23] sfbwalder commented on #222
upgrade to v1 beta 8 fixed this for me

[2020-02-19 21:28] kategengler commented on #240
If anybody has time, before the next release I'd like to verify that the README and options presented in there are correct and working for the latest beta. Any volunteers?

[2020-02-19 23:48] axelerate commented on #240
I'll volunteer. Will post results.

[2020-02-22 12:18] rwwagner90 commented on #124
Closing due to inactivity. If issues are still occurring, please let us know!

[2020-02-22 12:18] #124 closed

[2020-02-22 12:20] rwwagner90 commented on #177
Closing due to inactivity. If you are still experiencing issues, please let us know!

[2020-02-22 12:20] #177 closed

[2020-02-22 12:23] rwwagner90 commented on #240
@mehulkar there is an issue with things we need to do before 1.0.0 https://github.com/kategengler/ember-cli-code-coverage/issues/152

Plus I think there are concerns around the ever changing Ember build process, and that there may be a total rewrite of this addon at some point. @kategengler would know more about this and her plans for the future of this addon.

[2020-02-22 21:49] srini88 commented on #222
`ember-cli-htmlbars` was the culprit for me. https://github.com/ember-cli/ember-cli-htmlbars/issues/297

This issue is fixed after upgrading `ember-cli-htmlbars` to `4.0.5`.

[2020-02-22 21:49] #222 closed

[2020-02-23 00:15] rwwagner90 commented on #240
1.0.0-beta.9 has been published. Hopefully we can get an actual 1.0.0 out soon! I believe 0.4.2 doesn't work with modern Ember, and 1.0.0 has been in beta a long time, so my vote would be to go ahead and publish.

[2020-02-23 01:41] axelerate commented on #240
Thanks @rwwagner90 ! I see you've modified the version name, but I'm not seeing the version tag for 1.0.0-beta.9 being published. Am I missing something?

[2020-02-23 02:58] kategengler commented on #240
@axelerate Thanks for taking that on. Looking forward to hearing your results.

fwiw, @rwwagner90, I personally use 0.4.2 with modern ember and have had no difficulties. It's one of the things that concerns me -- some combination of circumstances makes it not work for only some people.

[2020-02-23 19:19] rwwagner90 commented on #240
@kategengler what's your project like? I hit several things, like I think there was first an issue with babel 6 or 7 updates, some things with glimmer 2 and now glimmer.js etc. I don't 100% know, but I think there are a lot of things incompatible with 0.4.2 and I have been using the 1.0.0 betas for years across multiple different organizations with varying setups, and had no issues, so I think the

[2020-03-09 03:39] alankyshum opened #244 "The value is only accessible if the object's 'responseType' is '' or 'text' (was 'json')"
## Error log

[code]

As suggested from the error log, `foo.responseText` was called, but `foo.responseType === json`.

## How to reproduce?

This should happen whenever `REQUEST_ASYNC === true && request.readyState === 4`

https://github.com/kategengler/ember-cli-code-coverage/blob/046e445b47e4a5da0aa5ea4d27380d9288cbedd0/lib/templates/test-body-footer.html#L22-L29

## Reason

https://github.com/

[2020-03-10 02:48] reiallenramos commented on #123
Recently encountered this problem when we upgraded from Ember 2.xx to 3.14. `ember test` works fine but fails when `COVERAGE=true` is added. @jleja do you still have the fix? It's not obvious in your comments what you did that resolved the issue. Thanks

[2020-03-18 15:56] EWhite613 commented on #244
Also getting this

[2020-04-14 10:09] reiallenramos commented on #216
ran into the same issue and updating the package to a a beta release did the trick.

` "ember-cli-code-coverage": "1.0.0-beta.9"` then `npm install ember-cli-code-coverage`

[2020-04-14 16:15] rwwagner90 commented on #216
Sounds like this should be fixed now then! If not, please let us know.

[2020-04-14 16:15] #216 closed

[2020-04-17 00:46] k-dauda opened #246 "Excludes options does not work"
Versions
[code]

config/coverage.js
[code]

[2020-04-25 15:41] jelhan commented on #214
I'm a little bit confused that you are talking about `'unsafe-inline'`. The CSP issue I'm facing is related to `eval` and requires `'unsafe-eval'`. Adding either `'unsafe-inline'` or `'unsafe-eval'` to script directive is risky. It disables nearly all of the security improvements that CSP should provide. You should make sure that it's only in the list if test coverage is enabled. It must not be pa

[2020-05-08 13:02] abishek-srinivasan commented on #210
I am using --path option in my test command (COVERAGE=true ember exam --path='./testOutput' --split=20 --parallel=1). I faced this issue when I updated the code coverage version from 0.4.2 to 1.0.0-beta.0. But now, I am using the latest version "ember-cli-code-coverage": "1.0.0-beta.8" and I still face the exact error mentioned in https://github.com/kategengler/ember-cli-code-coverage/issues/210#i

[2020-05-08 23:15] rwwagner90 commented on #210
@lan-nguyen91 @abishek-srinivasan there is no need to maintain separate forks. If you have a fix for the issue, please submit a PR and we'll be glad to get it in.

[2020-05-13 06:29] rajasegar commented on #240
@kategengler v0.4.2 doesn't work with modern Ember. I am using ember 3.17

[2020-05-13 11:08] rwwagner90 commented on #240
@rajasegar please use 1.0.0-beta.9

[2020-05-13 11:22] rajasegar commented on #240
@rwwagner90 Thanks a lot, that worked.

[2020-05-18 07:03] TheLooseCannon commented on #207
im currently running on 1.0.0-beta.9 and i too am getting 0% as output.
what all might be going wrong?

[2020-05-20 21:40] brokenalarms commented on #244
Yes! This has been causing flakiness in our build pipeline for some time, but we have not been able to reproduce it locally.

[2020-05-22 15:30] #244 closed

[2020-05-25 00:24] rwwagner90 commented on #197
Closing since MU is dead.

[2020-05-25 00:24] #197 closed

[2020-05-25 00:26] rwwagner90 commented on #240
@axelerate did you get a chance to verify the README? I would love to get 1.0.0 stable out, since it has been in beta for many years.

[2020-05-26 13:17] #210 closed

[2020-05-27 06:18] gokatz commented on #246
Is this an ember addon?

[2020-05-27 18:49] k-dauda commented on #246
@gokatz no

[2020-05-29 03:55] svkangal commented on #214
Just came across this issue, seeing issues with ember-cli-content-security-policy@1.1.1 and this worked.

[2020-06-05 11:12] NullVoxPopuli opened #265 "Latest master commit fails with this._getIncludesForAddonDirectory is not a function or its return value is not iterable"
in my package.json, I have:
[code]

I had recently obliterated my lockfile and re-installed deps while debugging another issue, and ran in to this

<details>
<summary>Error Log</summary>
ENV Summary:

  TIME: Fri Jun 05 2020 07:06:46 GMT-0400 (Eastern Daylight Time)
  TITLE: ember
  ARGV:
  - /home/preston/.volta/tools/image/node/14.3.0/6.14.5/bin/node
  - /home/preston/Development/NullVoxpopuli/e

[2020-06-05 11:14] NullVoxPopuli commented on #265
Just tried running tests without `COVERAGE=true`, and my tests started running, so that means that this is relevant / maybe _caused by_ (?) ec-code-coverage? https://github.com/babel/ember-cli-babel/issues/350

[2020-06-05 15:22] rwjblue commented on #265
This is being tracked over in ember-cli/babel-plugin-ember-modules-api-polyfill#112. I'll leave this issue open while we work things through (to make it easier to find that issue), but lets focus the convo over there.

[2020-06-14 23:01] rwwagner90 commented on #23
This probably shouldn't be closed until the PR is either merged or closed.

[2020-06-22 14:42] roman-vasilenko opened #267 "Unable to specify custom host and port for `/write-coverage` request"
Hi Katie! Thanks for an amazing ember addon!

Recently we successfully integrated it with our application but in order to generate the report, we have to do one manual change in the addon's source code.

Here is the point: in the `lib/templates/test-body-footer.html` the `/write-coverage` request is configured to be sent at the same port as the page is running but in our case, it should be sent to

[2020-06-26 13:26] rwwagner90 commented on #267
Hi @roman-vasilenko, a PR would be welcome to make it configurable!

[2020-07-28 14:56] rogeraraujo90 opened #268 "[INFORMATION] Should use official release of beta versions?"
Hello!

I saw that the latest oficial release is too old (2017). And there are a lot of beta tags in this repository.

What the recommendation of the maintainers about use this add-on in an already in production and big Ember App? Run `ember install ember-cli-code-coverage` (will install the 0.4.2 version) or add the latest available tag?

[2020-07-28 14:58] rwjblue commented on #268
Right now you _basically_ have to use the beta for all practical purposes. I am working through some failures introduced on master (#265 and https://github.com/kategengler/ember-cli-code-coverage/pull/264), but once resolved that should allow us to release the next stable (non-beta) version.

[2020-07-28 17:49] rogeraraujo90 commented on #268
Good. Thank you!

[2020-07-28 17:49] #268 closed

[2020-08-07 17:06] GCheung55 commented on #246
@k-dauda try `*/adapters/**/*`

[2020-08-07 19:17] GCheung55 opened #270 "Exclude tests and in-repo* from being instrumented."
By default, only files in `*/mirage/**/*` are excluded. While helpful, `tests/` and `test-support/`, found in in-repo-addons and in-repo-engines, are not excluded, which contributes to the amount of time it takes to instrument files.

I propose to add the following globs to exclude from being instrumented:

* '*/tests/**/*' (All files under the app's tests/ folder)
* '*/lib/**/test-support/**/*' (

[2020-08-07 19:32] GCheung55 opened #271 "ember-exam generates empty reports when given a path to existing build and running parallel tests"
Instrumenting a build and running ember-exam with parallel tests and a path to the build generates empty reports.

Reproduction steps:
1. Instrument a build.
[code]

2. Execute parallel tests with path to existing instrumented build from step 1. Note the default build is put in `./dist`.
[code]

Expected:
`coverage_<hash>/lcov.info` files have data.

Actual:
`coverage_<hash>/lcov.info` files are e

[2020-08-08 15:11] rwwagner90 commented on #270
@GCheung55 I think I would be fine with this, however, isn't this already achievable with the current `excludes` config and manually adding those values?

[2020-08-09 07:51] GCheung55 commented on #270
@rwwagner90 it is already achievable, but what I’m proposing is adding the globs as a default which reduces manual configuration and and improves performance for large apps out of the box.

[2020-08-09 16:12] rwwagner90 commented on #270
@GCheung55 will doing this effect code coverage amounts at all? I'm not really sure how it all works.

[2020-08-09 16:18] rwwagner90 commented on #271
@GCheung55 @GCheung55 I believer running with `--path` in general is broken. There was a fix added here https://github.com/kategengler/ember-cli-code-coverage/pull/248 but we have not released a new beta because things are somewhat broken right now.

[2020-08-12 23:09] GCheung55 commented on #271
@rwwagner90 what needs to be fixed before a new release?

[2020-08-13 01:07] kategengler commented on #271
This needs to be completed https://github.com/kategengler/ember-cli-code-coverage/pull/264

[2020-08-29 20:20] Turbo87 commented on #265
resolved by https://github.com/kategengler/ember-cli-code-coverage/commit/7cea2b652f3e70ba9a84d93ecdb78a102b424ca6

[2020-08-29 20:20] #265 closed

[2020-08-29 20:25] Turbo87 commented on #217
looks like this was resolved by 77aad94cea2c7820b85e393f9a4f0e7791b0008e. thanks @rwjblue!

[2020-08-29 20:25] #217 closed

[2020-08-29 20:33] Turbo87 commented on #98
closing this for now. will reopen if I should ever hit that issue again in the future.

[2020-08-29 20:33] #98 closed

[2020-08-29 20:35] Turbo87 commented on #220
unfortunately this is a bit hard to debug without a reproduction project 😞

[2020-08-29 20:39] Turbo87 commented on #219
closing due to inactivity

[2020-08-29 20:39] #219 closed

[2020-08-31 21:25] rwjblue commented on #102
Seems fine to me...

[2020-08-31 22:27] rwjblue commented on #152
I think we've done most of this (and if not, folks should report specific issues), so I'm closing as 1.0.0 is released.

[2020-08-31 22:27] #152 closed

[2020-08-31 22:27] rwjblue commented on #240
https://github.com/kategengler/ember-cli-code-coverage/releases/tag/v1.0.0

[2020-08-31 22:27] #240 closed

[2020-09-01 17:48] Samsinite opened #283 "Container is falsy build error with coverage enabled"
Hi, thanks for the addon!

I'm on 1.0.0, using ember/ember-cli 3.20 (this was not an issue with ember-cli 3.16), and am getting a weird build error with coverage enable:
[code]

This file is actually at `/Users/samueljclopton/workspace/clever-case/app-ember/controllers/roles/attorneys.js` so it appears that the coverage tool is messing up the file path.

The test build works fine with coverage dis

[2020-09-01 18:10] rwjblue commented on #283
Some more details over in https://github.com/ember-cli/babel-plugin-ember-modules-api-polyfill/issues/112 (the actual issue is somewhere between that babel plugin and the istanbul one).

[2020-09-02 10:30] rreckonerr commented on #283
Reporting the same issue.
Any workarounds as a temporary solution?

[2020-09-03 13:40] rreckonerr opened #284 "Zero percent code coverage"
Some of my components have 0% code coverage, even though integration tests are present.

**Component**
[code]
**Test**
[code]

What might be causing it? Code like `export default class BlablaService extends MyService {}` also has 0% code coverage, even though `MyService` is 100% covered.

[2020-09-03 16:10] rwwagner90 commented on #284
@rreckonerr what version of ember-cli-code-coverage are you using?

@Turbo87 @lifeart could this be related to removing some of the TypeScript stuff? IIRC TS and native classes were handled in a similar way?

[2020-09-03 16:24] Turbo87 commented on #284
I think the main issue here is that there are no statements in this file that would be instrumented by istanbul. I guess the export might technically be a statement, but apparently not according to what istanbul does. I'd say this behaves as intended from our side.

[2020-09-03 16:26] rreckonerr commented on #284
@rwwagner90 Currently, I'm on `1.0.0-beta.9` and I'm receiving the same result on `1.0.0`.
@Turbo87 Thanks!

[2020-09-03 17:06] #284 closed

[2020-09-04 09:24] rreckonerr opened #285 "Changing ED imports to @ember-data brings model tests to 0%"
Hi!
Changing [ember-data imports](https://github.com/ember-codemods/ember-data-codemod/tree/master/transforms/globals-to-ember-data-imports) brings models from 100% to 0% code coverage
#### Test
[code]
#### Before (100% code coverage)
[code]
#### After (0% code coverage)
[code]

Is this an expected behavior?

[2020-09-04 13:58] rwjblue commented on #285
No. Can you share the transpiled output of that model file with and without `COVERAGE=true` set (the contents of the `define` statements for that one module comparing `COVERAGE=true ember build` vs `ember build`)?

[2020-09-04 14:48] rreckonerr commented on #285
Seems like there's a duplication of the app name in generated path property: `"/PATH_TO_MY_APP/my-app/my-app/models/some-model.js"`

<details><summary>With coverage</summary>
<p>

[code]

</p>
</details>

<details><summary>Without coverage</summary>
<p>

[code]

</p>
</details>

[2020-09-08 14:58] rreckonerr commented on #285
Hi, @rwjblue ! Any updates on this one?

[2020-09-08 15:36] rreckonerr commented on #285
Output for model
[code]

<details><summary>With coverage</summary>
<p>

[code]

</p>
</details>

<details><summary>Without coverage</summary>
<p>

[code]

</p>
</details>

[2020-09-09 09:06] xcambar opened #286 "middleware still returns a string, when JSON is expected"
This issue is a follow up on #251 , which apparently doesn't fix the handler's behavior in _some_ situations.

I am currently still facing the behavior described in #251 using `ember-cli-code-coverage@1.0.0`.

Here's the received response as breakpoint'd  at https://github.com/kategengler/ember-cli-code-coverage/blob/master/lib/templates/test-body-footer.html#L22 (with some entries removed for rea

[2020-09-09 10:11] ndekeister-us commented on #286
I can confirm that using `1.0.0-beta.9` works as expected

(we spotted this issue when using `COVERAGE=true yarn ember try:one ember-default` in our addon, which was installing version `1.0.0` instead of version `1.0.0-beta.9` defined in our `yarn.lock`)

[2020-09-22 15:25] rwjblue commented on #270
Generally, I think this is fine, but we shouldn't use this exact glob as written. We should build up the paths for each of the actually known addons's folders. Something like:

[code]

[2020-09-22 15:26] rwjblue commented on #246
I believe it should work with @GCheung55's suggestion.

[2020-09-22 15:26] #246 closed

[2020-09-25 16:36] rreckonerr commented on #285
@rwjblue I've added a reproduction in #292

[2020-10-01 02:05] GCheung55 commented on #271
Looks like #293 fixes the issue. @kategengler @rwwagner90, anything I can do to help get the PR merged and a new release published?

[2020-10-04 12:38] #271 closed

[2020-10-08 20:37] kevvvnguyen commented on #283
Hey all, was wondering if there have been any updates on this issue?

[2020-11-07 11:04] vignesh20794 opened #296 "Global error: Uncaught TypeError: Cannot read property 'pct'"
getting this error when i ran 'COVERAGE=true ember test' have some screen shots stating the same

1.console error
![image](https://user-images.githubusercontent.com/25817117/98439197-378e4580-2116-11eb-9a62-7f618a185c78.png)

2: VScode terminal error
![image](https://user-images.githubusercontent.com/25817117/98439296-fba7b000-2116-11eb-9c06-5ba1a4e8b724.png)

3: debugged  view
![image](https://us

[2020-11-07 11:29] GCheung55 commented on #296
@vignesh20794 would you mind creating a repo to reproduce this issue? That would be very helpful to debug.

[2020-11-18 19:28] rwjblue opened #297 "Add support for Embroider"
At the moment, ember-cli-code-coverage does **not** work properly for applications that are using Embroider as their build pipeline. Since the overall Ember ecosystem will be migrating to Embroider (hopefully sooner than later 😝 ) we need to plan for how coverage will work in that setup.

TODO:

- [ ] Add an Embroider based test application to our test packages setup
- [ ] Determine how we are goi

[2020-12-02 12:04] rreckonerr commented on #285
@rwjblue Hi! Any progress on this one?

[2020-12-02 15:26] gobeli commented on #296
I run into the same issue on this Repo: https://github.com/opensource-challenge/opensource-challenge-client/tree/dependency-updates (branch `dependency-updates`) somehow the `xhr.response` is a string which would need to be parsed before accessing...

[2020-12-16 14:33] ijlee2 opened #300 "README not easily discoverable in v1.0.1 and v1.0.2"
## Description

Hello. I wanted to learn how to install and configure `ember-cli-code-coverage` today. I noticed that the `master` branch did not contain the README file in the root folder, and ended up switching to the `v1.0.0` tag to find the README.

It seemed like the project structure might have changed in `v1.0.1`. I was wondering if it can be still possible to have a README in the root fold

[2020-12-16 14:47] kategengler commented on #300
I think the README should be moved top level and it was just missed in the reorganization.

@rwjblue Can you think of any reason not to do that?

[2021-01-19 16:11] chrisvdp commented on #300
@ijlee2 @kategengler we can close this now.

[2021-01-19 16:22] #300 closed

[2021-01-19 18:57] ijlee2 commented on #300
@chrisvdp Thank you for your help!

[2021-01-25 07:48] UkonnRa commented on #283
+1

[2021-01-28 11:38] tamdilip opened #305 "reporters config via cli"
Can we have an option to pass reporter formats via CLI, apart from the placement of "coverage.js" under config path ?

[2021-02-17 22:47] rwjblue commented on #283
The issue was fixed in the downstream babel plugin (https://github.com/ember-cli/babel-plugin-ember-modules-api-polyfill/pull/156). Make sure you update to the latest version of that plugin, and you should be good to go.

[2021-02-17 22:47] #283 closed

[2021-04-07 16:50] alexabreu opened #309 "Specifying `--path` option when generating coverage results in partial/truncated reports."
In order to lower our CI costs, we're building once and sharing that build across multiple partition test runs (via ember exam). All seems to work fine, but the `lcov.info` reports being generated across each test run are both identical and incomplete.

Simply removing the `path` option, therefore forcing a fresh build prior to running tests, remedies this problem and results in correct coverage r

[2021-04-07 16:59] kategengler commented on #309
Can you confirm:

- the build you are sharing was built with the COVERAGE env variable set to true?
- You have set `parallel` to true in the configuration (https://github.com/kategengler/ember-cli-code-coverage#configuration)
- You are using the `coverage-merge` command to merge coverage across exam runs

[2021-04-30 13:06] KalachevDev opened #312 "Is there any tool that allows to see covered lines in WebStorm on a fly?"
Hey! The title explains the question, is there way to utilize lcov config generated by `ember-cli-code-coverage` in WebStorm to highlight covered/not covered lines in IDE?

Thank you!

[2021-05-03 18:47] safirelauene commented on #215
I'm having same problem. :disappointed:
Using ember-cli-code-coverage 1.0.3
[code]

[2021-05-11 17:11] mehulkar opened #316 "this.parent.isEmberCLIAddon is not a function"
Getting blown up here: https://github.com/kategengler/ember-cli-code-coverage/blob/c91a39b44ebc37a72faa3e692ce95a093586902f/packages/ember-cli-code-coverage/index.js#L143

I think this should be `this.project.isEmberCLIAddon()`? Only the project class has this function, afaik: https://github.com/ember-cli/ember-cli/blob/260546d7ab88de8081c193ebc5ab43ef73e4c044/lib/models/project.js#L199

[2021-05-12 20:32] mehulkar commented on #316
Oh interesting, looks like i had put the addon in `dependencies` instead of `devDependencies`. Moving it over fixed the issue!

[2021-05-12 20:32] #316 closed

[2021-06-11 17:59] daituzhang opened #317 "Not compatible with babel 7"
Same issue as https://github.com/kategengler/ember-cli-code-coverage/issues/215?_pjax=%23js-repo-pjax-container#issuecomment-831458285

ember-cli-code-coverage 1.0.2

Build Error (Analyzer)

Requires Babel "^7.0.0-0", but was loaded with "6.26.3". If you are sure you have a compatible version of @babel/core, it is likely that something in your build process is loading the wrong version. Inspect th

[2021-06-11 18:28] kategengler commented on #317
Can you try `yarn why ember-cli-babel` or `npm ls ember-cli-babel`.

This addon is using babel 7 in test/dev. I would read the message as saying Babel 6.26.3 was being used when it should have been 7, but I expect that's not from this addon.

[2021-06-11 19:25] daituzhang commented on #317
You are right. I will close the issue.

[2021-06-11 19:25] #317 closed

[2021-06-11 19:45] daituzhang opened #318 "cannot exclude individual file"
I wanted to exclude addon/engine.js

I tried
    excludes: ['**/*/engine.js']
in the config/coverage-config.js
and config/coverage.js

neither works.

version: 1.0.2

Thank you

[2021-06-15 06:41] mukilane commented on #305
You could have something like this in coverage.js

[code]

and pass the values as an environment variable.

[code]

[2021-06-15 11:08] tamdilip commented on #305
Cool, great perspective to give that way of thought🔥✌️ !!

[2021-06-15 11:08] #305 closed

[2021-07-01 20:43] ndekeister-us commented on #318
It seems that the documentation about `excludes` option is not correct,

For exemple, all files inside `app` or `lib` directories are "included" via these paths
- `my-engine-name/engine.js`
- `my-app-name/adapters/application.js`

So that, for excluding these files, you will need to write
`excludes: ['my-engine-name/engine.js', '*/adapters/application.js']`

In you case, it seems that writing `exc

[2021-07-20 21:43] rwjblue commented on #296
I debugged this with someone earlier today, and in our case the issue was that some tests were not properly resetting the pretender instance so `window.XMLHttpRequest` was the `FakeRequest` object that Pretender installs, which does not respect the `responseType` property.

Specifically, someone was calling `this.server = setupMirage()` in there test, but never `this.server.shutdown()`.

[2021-07-20 22:53] kategengler commented on #296
😭 That explains so very much

[2021-08-02 06:20] subhamagar opened #320 "Ember-cli-code-coverage issue"
'COVERAGE' is not recognized as an internal or external command, is coming when try to run " COVERAGE=true ember test"

[2021-09-01 19:52] barryofguilder commented on #309
@kategengler We just ran into this in our Ember App and I can confirm that we've done all 3 of those steps. I'm not sure what all information you need, but here's a snippet of the npm scripts we're using in our GitHub Action workflow:

[code]

[code]

[code]

[2021-09-01 21:11] barryofguilder commented on #309
@kategengler

I was able to reproduce this locally. I do see several `coverage_123abc` directories (one for each `ember-exam` run), but they barely contain any coverage info. Way less than what we had in each partition before we added the `--path=dist` param.

I will try and get a test app uploaded to the repo tomorrow.

[2021-09-07 20:24] barryofguilder commented on #309
I'm still trying to get a test app together to show the issue. I'm struggling to have ember exam partition the tests when there's not many tests. It seems to be running all the tests in each partition.

[2021-09-14 15:30] ndekeister-us commented on #309
@barryofguilder may i ask you what versions of ember-cli-code-coverage + ember-exam are you using? Tried to reproduce your issue with latest versions (ember-cli-code-coverage@1.0.3 and ember-exam@6.0.1) in an Ember app having a large test suite (1.5k+ tests) and i'm not able to reproduce, did following steps
[code]

Resulting of having same coverage data as running directly `COVERAGE=true ember ex

[2021-09-14 16:18] barryofguilder commented on #309
@ndekeister-us sure, here are the versions we are using:

- `ember-exam`: "^6.1.0"
- `ember-cli-code-coverage`: "^1.0.3"
- `ember-cli`: "~3.25.2"
- `ember-source`: "3.25.1"

[2021-09-15 19:17] ndekeister-us commented on #309
Thanks, made some try in multiple apps but can't success to reproduce even if we have exact same packages & versions, hope you will success to reproduce it in a test app 🤞

[2021-10-18 21:08] #320 closed, assigned to nobody

[2021-10-18 21:10] rwjblue commented on #168
Definitely seems good to add

[2021-11-04 20:44] rmachielse opened #336 "Transpilation issue with v2 beta"
First of all, thanks a lot for the v2 refactor! It must be much more efficient because the build time of our large app in CI went down by many minutes❗ by upgrading to the v2 beta.

Unfortunately, we ran into a strange issue that we are only seeing when building with `COVERAGE=true`.

I was able to reduce the reproduction to just this:

[code]

When building without coverage, this properly transpi

[2021-11-09 15:35] kategengler opened #337 "CI has failing tests"
Started failing with the release of 2.0.0-beta.2 https://github.com/kategengler/ember-cli-code-coverage/actions/runs/1395706299

Failure sounds related to #333 but CI passed for that PR. cc @rwjblue

Thanks to @rmachielse for pointing out the failing tests.

[2021-11-11 00:41] #337 closed

[2021-11-12 16:41] villander opened #340 "No coverage when addon/ember-app and package name don't match"
I noticed that [this support](https://github.com/kategengler/ember-cli-code-coverage/issues/45) is not working on beta versions of this addon. If I have ember apps, add-ons, and engines using scoped package names like `@foo/customers` the coverage stop working. I'm sure that it's a regression issue on **2.0.0-beta.2** since it's working on **1.0.3** version.

**Minimal reproduction** - https://git

[2021-11-16 18:03] robinborst95 opened #341 "No coverage for app files in in-repo addons with v2 beta"
In our codebase we have in-repo addons where all files are defined in the `app` directory. With the v1 version this works perfectly, we can see the coverage line by line in Codecov. However, when we try out the v2 beta, all those files are not recognized anymore. The coverage itself does seem to be calculated correctly though (the coverage doesn't change in Codecov), so it seems like the files are

[2021-12-01 16:50] robinborst95 opened #344 "`modifyAssetLocation` not working when `--path` option is used"
The addition of `modifyAssetLocation` in https://github.com/kategengler/ember-cli-code-coverage/pull/343 would indeed help fixing https://github.com/kategengler/ember-cli-code-coverage/issues/341, I have a PR with a working test coming up to confirm that. However, we use the `--path` option to separate the `build` and `test` runs, and then `modifyAssetLocation` doesn't work anymore, I suspect beca

[2021-12-01 18:36] robinborst95 opened #347 "No clear documentation on usage of beta version in actual ember addons"
~Unlike the in-repo addons we have in our main repository, we also have actual addons with files in `addon` and `app`. When using the beta version, all `app` files are still covered, but the `addon` files aren't anymore. I've tried to resolve this with `modifyAssetLocation` (we don't need the `--path` option in the actual addons), but all `relativePath`s contained `dummy` (corresponding to `app`).

[2021-12-05 13:08] GradedJestRisk opened #348 "require.buildBabelPlugin is not a function or its return value is not iterable"
## Problem
When running coverage with latest no-beta version (1.0.3), task fails with error message
`require.buildBabelPlugin is not a function or its return value is not iterable`

See [this repo](https://github.com/GradedJestRisk/ember-with-coverage) to reproduce the problem on a fresh-generated application
[code]

## Configuration

### System
[code]

### Setup

[code]

[2021-12-21 23:01] notmessenger commented on #348
I tried every released version in my application (not a new clean install) and continued to receive the same error.

[2022-01-11 22:04] jsolano commented on #348
1.0.3 version doesn't support buildBabelPlugin, change to Beta version or see documentation for 1.0.3

[2022-01-12 01:58] notmessenger commented on #348
Of course that makes sense! Followed the directions for `1.0.3` (not those in `master`) and works as expected.  Thanks!

[2022-01-13 10:12] max-konin opened #349 "TS files are not included in the coverage with `--path` option"
Env:

[code]

`COVERAGE=true ember t` works fine and generates accurate coverage reports. But I want to configure my CI workflow with pre-built dist and run tests with --path option.

[code]

That generates reports w/o .ts files

Repro repo https://github.com/max-konin/coverage-with-path-and-ts-repro. I built a simple component https://github.com/max-konin/coverage-with-path-and-ts-repro/tree/mast

[2022-01-18 17:18] rwjblue commented on #349
Can you test with the 2.0.0-beta.4 release? There is some additional setup overhead, but this workflow _should_ work a bit better (because we no longer rely on knowing all the files from the build in order to handle coverage).

[2022-01-18 17:19] rwjblue commented on #348
Sorry @notmessenger. I'll try to review open issues for the beta and get it released as stable.

[2022-01-18 17:21] rwjblue commented on #347
Hmm, there really isn't a significant difference between in-repo addons and external/standalone addons from our perspective. Did you confirm that the external ones are doing the same setup (in order to get instrumentation)?

[code]

[2022-01-19 08:54] max-konin commented on #349
Hey @rwjblue

2.0.0-beta.4 works fine. But I have a question regarding configuration. I'm using ember-mocha instead of QUnit for my project. Readme provides an example for qUnit only. What should I use instead of `QUnit.done` for mocha? `after`?

[2022-01-19 13:09] robinborst95 commented on #347
Ah, I see where the confusion comes from. The setup for standalone addons isn't covered in the Readme (it only says this setup is for in-repo addons), so let's make sure to update this by saying it's both for in-repo addons and standalone addons :+1:

The setup we tried was actually something that wasn't documented either, but it led to reported coverage of the `app` files in our addon, using this

[2022-01-19 13:38] robinborst95 commented on #340
@villander @rwjblue in our app we also run into this issue, and I've found that it's because of the way `namespace` is [defined](https://github.com/kategengler/ember-cli-code-coverage/blob/master/packages/ember-cli-code-coverage/lib/attach-middleware.js#L79):
[code]

When the package name includes a `/`, the found namespace would be `@foo` in this case. The `namespaceMappings` would have a mapping

[2022-01-19 13:46] robinborst95 commented on #341
Closing this as it's fixable with `modifyAssetLocation` now

[2022-01-19 13:46] #341 closed

[2022-02-07 12:43] alexabreu commented on #309
Happy to report that the root cause of this bug is due [to this TypeScript issue](https://github.com/kategengler/ember-cli-code-coverage/issues/349) and was indeed resolved by upgrading to [v2.0.0.beta-4](https://github.com/kategengler/ember-cli-code-coverage/releases/tag/v2.0.0-beta.4).

[2022-02-07 14:16] barryofguilder commented on #309
Ohhh, that would explain why I was never able to reproduce. I wasn't using TypeScript in any of the test apps.

[2022-03-01 17:24] mshappe opened #354 "Dramatic build slowdown when enabled"
When building (either separately, or inline as part of `ember exam`) with `COVERAGE=true`, builds take 2.5-3x as long.

In practical terms, on SemaphoreCI this results in a 2-3 minute build becoming an 8-9 minute build, before tests are even run.

Even on my superfast M1, I got these timings:
With: 4:27.11 total
Without: 1:20.66 total

Obviously, instrumenting code for coverage is going to take **

[2022-03-01 20:37] mshappe commented on #354
I will note that we wound up trying the 2.0.0-beta, and it does improve the situation significantly. This report was made against the 1.0.3 release.

[2022-04-18 07:39] sarbbottam opened #355 "Question - Is there a way to fail the test run if the coverage is below a certain threshold?"
Is there a way to fail the test run if the coverage is below a certain threshold?

Is there a way to print the high-level coverage summary after the test run?

Thanks!

[2022-06-30 18:13] LanceStasinski commented on #309
Hi @kategengler, has there been any update regarding this issue? I'm working with the same configuration as @alexabreu and seeing empty coverage reports as described in the [previous comment](https://github.com/kategengler/ember-cli-code-coverage/issues/309#issuecomment-1035796391).

[2022-07-01 12:38] omarhamdan opened #357 "Request aborted - BadRequestError seen from v2.0.0-beta.2"
Hello!

This appeared when upgrading from v2.0.0-beta.1 to v2.0.0-beta.2 and consequent versions.
We're using ember-cli at 3.23.0.

This [issue](https://github.com/kategengler/ember-cli-code-coverage/pull/82), seems to be the same although pretty old.
I haven't dived into it yet, but I'll try to get a repro on a new ember app.

[code]

[2022-07-19 06:25] RathiRohit opened #358 "write-coverage errors out with 403 - Unauthorized"
### Problem
When running coverage (using `ember serve`) with latest beta version (2.0.0-beta.4), the `/write-coverage` call errors out with `403 - Unauthorised`.

### Configuration
ember-cli: 3.28.3
node: 16.14.0
os: mac os

### Setup
- Added passthrough in pretender config.
- Added in engine index.js
[code]
- Updated QUnit.done()
[code]

[2022-07-27 21:27] acorncom commented on #354
@mshappe if 2.0.0-beta works for you, then maybe we should close this issue? 2.x is the new future here once we get a final release out the door ...

[2022-07-27 21:35] ztjohns commented on #357
Seeing the same case in this environment:
Ember 3.28
Node 16.14.2 alpine 3.14
Packaged using 16.16.0 node

Coverage works with 1.0.3 and no embroider, with embroider seeing either this same error or the tests report with
Unknown%(0/0)

[2022-07-27 22:42] mshappe commented on #354
Yes, I think at this point, we can close this.

[2022-07-27 22:42] #354 closed

[2022-07-28 03:08] acorncom commented on #357
@omarhamdan were you able to reproduce this with a new app? Getting a minimal reproduction would be quite helpful for working out what the issue is here

[2022-07-28 03:10] acorncom commented on #357
A related question. Is this only happening if you’re also using Ember exam (I’m assuming that’s how parallelizing is occurring)? Or is this steadily reproducible with the native test runner?

[2022-07-28 11:24] ztjohns commented on #357
@acorncom We are not using ember exam, but we are using ember-cli-mirage 2.4.0.  We have about 900 tests that run in total in our project.

[2022-07-28 11:49] ztjohns commented on #357
Ok was able to run it this morning, and hee is the full stack error that I get:
[code]
apologies if things have typos, I cannot copy and paste :D

[2022-07-28 14:41] ztjohns commented on #357
I had a good lead for a while that things were failing because crypto and other node polyfills are no longer included in webpack 5, but after pulling all those in, I still got the same issue unfortunately.

[2022-09-02 05:01] mayatron opened #361 "Seems to break when using the ember-concurrency new api"
When using `ember-concurrency@2.3.2` with the [new API recently introduced](https://github.com/machty/ember-concurrency/blob/master/CHANGELOG.md), using `ember-cli-code-coverage@2.0.0-beta.4` seems to transpile the code in a way that `ember-concurrency` doesn't like.

Setting up a new app with something basic like:

[code]

If I write a basic test for this, and run without code coverage, I get:

[

[2022-09-02 13:20] esbanarango commented on #361
Same issue here:

On the left is the transpiled code using `COVERAGE` flag.

![image](https://user-images.githubusercontent.com/1156865/188153416-c5ddbe6a-d243-4375-8f08-104295c1036b.png)

Is there maybe a way to configure the order instanbul adds the `cov_**` wrappers.

[2022-09-07 09:45] olyckne commented on #361
I made a reproduction repo with a new ember app with 1.0.3 (but the problem exists in 2.0 as well):
 https://github.com/olyckne/ember-concurrency-arrow-fn-code-coverage-issue

[2022-10-23 15:30] #23 closed

[2022-11-03 16:01] saloniy commented on #147
Hi, I know this is a pretty old issue but I recently came across this same issue (using ember-electron) and by updating the URL for '/write-coverage' to 'http://localhost:port/write-coverage', I as able to generate the coverage report. 'http://localhost:port/write-coverage' was where I hosted my own express middleware as @xn proposed in his changes.
However, going into the node_module and editing

[2022-11-03 16:15] kategengler commented on #147
@saloniy It doesn't look like the existing code determines the host https://github.com/kategengler/ember-cli-code-coverage/blob/e3dcf629745e866dd236a75e444d46f1d927f930/packages/ember-cli-code-coverage/lib/attach-middleware.js#L203

I think a PR to make the endpoint configurable would be fine, though.

[2022-11-03 16:46] saloniy commented on #147
Sounds good! I'll take that on in a few days 👍